{% extends 'layout.html' %}

{% block pageTitle %}
  Exemption
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        You are entitled to free prescriptions
      </h1>

    


      <p>
       Based on what you've told us, you get help with NHS health costs. </p>


       <h2>How to get your free prescriptions</h2>
       <p> In most circumstances, you won't have to do anything as your date of birth will be on your medical records and will show your age.
      </p>

      <h4>To get your free prescriptions</h4>
     <p> Tick box A (first box down) on the back of the prescription form.</p>
 
     







    </div>

  </div>
{% endblock %}
