{% extends 'layout.html' %}

{% block pageTitle %}
  Enter bank details- Account number error - PPC
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">      
  <div class="nhsuk-grid-column-two-thirds">

    <!-- ERRORS display -->
    <div class="nhsuk-error-summary" id="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 class="nhsuk-error-summary__title" id="error-summary-heading">There is a problem</h2>
      <div class="nhsuk-error-summary__body">
        <ul class="nhsuk-list nhsuk-error-summary__list">
          
          
          <li class="nhsuk-error-message"><a href="#accountnumber">Enter an account number</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- END Errors display -->

    <form action="direct-debit" method="post" id="ppcForm" name="directDebitForm" novalidate="novalidate"><input type="hidden" name="_csrf" value="d996cd8c-8a90-442c-a459-965ed7e0490c">
      <fieldset class="nhsuk-fieldset" id="ppc-title">
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">Enter bank details</h1>
        </legend>
        <div class="nhsuk-promo nhsuk-u-margin-bottom-5">
          <h2 class="nhsuk-heading-m">Payment summary</h2>
          <p class="nhsuk-body">Prepay for 12 months of prescriptions</p>
          <p class="nhsuk-body">Amount to pay:</p>
          <p class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-0">10 payments of {{ data.PPCDirectDebitCost }}</p>
        </div>

        <style>
          .nhsuk-promo{
          background:white;
          padding:20px;
          box-shadow: 0 4px 0 0 #D8DDE0;
          }
        </style>
    

        <div class="nhsuk-form-group">
          <label for="accountname" id="accountname-label" class="nhsuk-label">Name on the account</label>
          
          <input type="text" class="nhsuk-input nhsuk-input--width-20" id="accountname" maxlength="18" autocomplete="off" name="accountname" value="John Doe">
        </div>

        <div class="nhsuk-form-group">
          <label for="sortcode" id="sortcode-label" class="nhsuk-label">Sort code</label>
          <div id="sort-code-hint" class="nhsuk-hint">
            Must be 6 digits long
          </div>
          <input type="text" class="nhsuk-input nhsuk-input--width-10" id="sortcode" maxlength="6"
            name="sortcode" value="">
        </div>

        <div class="nhsuk-form-group nhsuk-form-group--error">
            <label for="accountnumber" id="accountnumber-label" class="nhsuk-label">Account number</label>
            <div id="account-number-hint" class="nhsuk-hint">
              Must be between 6 and 8 digits long
            </div>
            <span class="nhsuk-error-message" id="error_message_accountnumber">Enter an account number</span>
            <input type="text" class="nhsuk-input nhsuk-input--width-10 nhsuk-input--error" id="accountnumber" autocomplete="off" maxlength="8" pattern="\d*" aria-describedby="error_message_accountnumber" name="accountnumber" value="">
        </div>
        
        <div class="nhsuk-form-group">
          <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
            <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false" tabindex="0">
              <span class="nhsuk-details__summary-text">View the Direct Debit Guarantee</span>
            </summary>
            <div class="nhsuk-details__text" id="details-content-0" aria-hidden="true">
              <p><img class="dd-logo" src="images/ddlogo.png" alt="Direct Debit"></p>
              <p>The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</p>
              <p>If there are any changes to the amount, date or frequency of your Direct Debit the NHS Business Services Authority will notify you (normally 10 working days) in advance of your account being debited or as otherwise agreed. If you request the NHS Business Services Authority to collect a payment, confirmation of the amount and date will be given to you at the time of the request.</p>
              <p>If an error is made in the payment of your Direct Debit, by the NHS Business Services Authority or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.</p>
              <p>If you receive a refund you are not entitled to, you must pay it back when the NHS Business Services Authority asks you to.</p>
              <p>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify the NHS Business Services Authority.</p>
            </div>
          </details>
        </div>

        <div class="nhsuk-form-group">
          
          <form action="">
            <button class="nhsuk-button" type="submit">
              Continue
            </button>
            </form>
        
            <p><a href="/updated-full-journey/v8/start">Cancel</a></p>
    
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}



