{% extends 'layout.html' %}

{% block pageTitle %}
When do you want your PPC to start? - Buy an NHS Prescription Prepayment Certificate (PPC)
{% endblock %}


<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}


{% block beforeContent %}
{{ backLink({
  href: 'javascript:history.go(-1)',
  text: 'Go back'
}) }}
{% endblock %}



{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">


      {% set invalidError = 'Start date must be a real date' %}

      {{ errorSummary({
      titleText: 'There is a problem',
      descriptionText: '',
      errorList: [
          {
          text: invalidError,
          href: "#example-error-1"
          }
      ]
      }) }}


      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              When do you want your PPC to start?
            </h1>
          </legend>

          <p>You can choose to start your PPC between {{ -1 | alterTodaysDateByNumberOfMonths }} and {{ 1 | alterTodaysDateByNumberOfMonths }}.</p>

          <div class="nhsuk-form-group">
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    <strong>To start today or later</strong>
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
                  <p>Choose the date you will collect your next prescription. If this is over a month away, you should wait and buy your PPC later.</p>
                 {{ dateInput({
                    id: 'date-error',
                    fieldset: {
                        legend: {
                            text: 'Date you will collect your next prescription',
                            classes: 'nhsuk-u-visually-hidden',
                            isPageHeading: false
                        }
                    },
                    hint: {
                        text: 'For example, ' + ( 7 | alterTodaysDateByNumberOfDays )
                    },
                    errorMessage: {
                        text: invalidError
                    },
                    items: [
                        {
                        id: 'example-error-1',
                        name: 'Day',
                        classes: 'nhsuk-input--width-2 nhsuk-input--error',
                        value: '%%'
                        },
                        {
                        name: 'Month',
                        classes: 'nhsuk-input--width-2 nhsuk-input--error',
                        value: '&&'
                        },
                        {
                        name: 'Year',
                        classes: 'nhsuk-input--width-4 nhsuk-input--error',
                        value: '@!£%'
                        }
                    ]
                    }) }}

              
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    <strong>I want to backdate my certificate - I have collected my prescription before today</strong>
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
          
                  <div class="nhsuk-form-group">

                   
                    <p>If you've collected a prescription in the last month, you can claim a refund if you got an FP57 receipt when you paid. </p>
                    
                    <p>If you did not get an FP57 receipt you cannot get a refund and should start your PPC today or later.</p>
                    <p>Choose the date you collected your prescription.</p>
                    <div class="nhsuk-form-group">
                      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                        
                        <div class="nhsuk-hint" id="example-hint">
                          For example, {{ -7 | alterTodaysDateByNumberOfDays }}
                        </div>
                    
                        <div class="nhsuk-date-input" id="example">
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                                Day
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                                Month
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                          <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                              <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                                Year
                              </label>
                              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    
                    </div>
                  </div>
          
                </div>
          
              
          
            
          
              </div>
            
          
          </div>
            
          
          
      
          
            
        </fieldset>
      
      </div>


      <p>If you already have a valid exemption certificate check when it expires. <a href="https://www.nhsbsa.nhs.uk/check-if-you-have-nhs-exemption"> Find details on how to check this on our website (opens in a new tab).</a></p>
      

        <form action="get-certificate-by-email">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>









<!-- CODE TO DYNAMICALLY CALCULATE THE START DATE RANGE OFFERED TO USERS (anywhere between 1 month before or after current date) -->
<script>
  var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
    'October', 'November', 'December'];

  // LAST MONTH'S DATE
  var dateBack = new Date();
  var dateBackDay = dateBack.getDate();
  var dateBackMonth = dateBack.getMonth() - 1; //January is 0!
  var dateBackYear = dateBack.getFullYear();

  // Convert month number to month name, so it can be written out in the DoB field
  var dateBackMonthName = allMonths[dateBackMonth];
  // Write out date for displaying in the page
  var dateBackWritten = dateBackDay + ' ' + dateBackMonthName + ' ' + dateBackYear;


  // NEXT MONTH'S DATE
  var dateForward = new Date();
  var dateForwardDay = dateForward.getDate();
  var dateForwardMonth = dateForward.getMonth() + 1; //January is 0!
  var dateForwardYear = dateForward.getFullYear();

  // Convert month number to month name, so it can be written out in the DoB field
  var dateForwardMonthName = allMonths[dateForwardMonth];
  // Write out date for displaying in the page
  var dateForwardWritten = dateForwardDay + ' ' + dateForwardMonthName + ' ' + dateForwardYear;
</script>

{% endblock %}