<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
How would you like to receive your prepayment certificate? - PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#email">You must select how you would like to receive your PPC details</a>
            </li>
          </ul>
        </div>
      </div>

     
    
          <!-- Change the page heading -->
    
          <!-- Add content here -->
          <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
          
          <form action="handler-email" method="get" class="form">
          <div class="nhsuk-form-group nhsuk-form-group--error">
            
    
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  How can we send you your prepayment certificate details?
                </h1>
              </legend>
           
              <div class="nhsuk-inset-text">
                  <span class="nhsuk-u-visually-hidden">Information: </span>
                  <p><b>We do not send out plastic cards any more because they take time to reach you.</b> They are also costly to the NHS and the environment.</p>
                </div>
            
                <p>We can send your prepayment certificate straight away by email. Or, you can print it at the end of the service.</p>
  
                <p>You will get a:</p>
                <ul>
                  <li>certificate number</li>
                  <li>start date</li>
                  <li>end date</li>
                </ul>
    
                <span class="nhsuk-error-message" id="dob-day-error-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span> You must select how you would like to receive your PPC details
                </span>

                <div class="nhsuk-radios nhsuk-radios--conditional">
                  <div class="nhsuk-radios__item">
                    
                      <!-- radio with aria controls -->
                      <input type="radio" value="EMAIL" id="email" class="nhsuk-radios__input" name="method" aria-controls="show-reminder1" aria-expanded="true" data-gtm-form-interact-field-id="0">
                    <label for="email" id="email-label" class="nhsuk-label nhsuk-radios__label">Email my certificate details</label>
                  </div>
  
                  <div id="show-reminder1" class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"> 
                    <div>
                      <p class="nhsuk-body">Your certificate will automatically renew after 12 months, as long as you don't cancel your Direct Debit.</p>
                      <p class="nhsuk-body">We'll send your new certificate by email, and a reminder one month before your renewal date.</p>
                    </div>
                  
                </div>
  
                  
  
  
                  <div class="nhsuk-radios__item">
                    <input type="radio" value="PRINT" id="print" class="nhsuk-radios__input" name="method" aria-controls="show-reminder2" aria-expanded="false" data-gtm-form-interact-field-id="1">
                    <label for="print" id="post-label" class="nhsuk-label nhsuk-radios__label">I will print my certificate details at the end of the service</label>
                  </div>
                  <div id="show-reminder2" class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden">
                
                      <div>
                        <p class="nhsuk-body">Your certificate will automatically renew after 12 months, as long as you don't cancel your Direct Debit.</p>
                        <p class="nhsuk-body">We'll send your new certificate by post, and a reminder one month before your renewal date.</p>
                      </div>
                      
                    </div>
                  </div>
                </div>
  
  
  
                  <br>
  
                  <form action="">
                    <button class="nhsuk-button" type="submit">
                      Next
                    </button>
                    </form>
          
          
                  <p><a href="/ppc/updated-full-journey/version-2/start">Cancel</a></p>
  
       
      </div>
    </div>
  
{% endblock %}
