{% extends 'layout.html' %}

{% block pageTitle %}
  Start page 
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-headling-xl">
        Buy an NHS Prescription Prepayment Certificate
      </h1>

     



      <p>
        Save money on NHS prescriptions by prepaying for them.
      </p>

      <p>You can pay a set price for prescriptions for 3 or 12 months, no matter how many you need.</p>
<p>A prescription costs £9.90 per item, but prepaying for an unlimited number of prescriptions is:</p>
      <ul class="list list-bullet">
        <li>£29.65 for 3 months</li>
        <li>£105.90 for 12 months (or 10 Direct Debit instalments of £10.59)</li>
      </ul>


      <h2 class="nhsuk-heading-l">HRT PPC</h2>

      <p>If you pay for NHS prescribed hormone replacement therapy (HRT) medicine, then an <a href="https://hrt-ppc.herokuapp.com/hrt-nhsbsa">HRT PPC could save you more money than a PPC</a>. </p>

     <h2>How it works</h2>
      <p>We can send your certificate details by email, or you can print them at the end of the service.</p>

     <p>Show your certificate details when you collect your prescription. You can collect prescriptions straight away, if your start date is today or earlier. </p>
      
     

      

      <a href="" class="nhsuk-button nhsuk-u-margin-bottom-8">
       Buy now
      </a>
      <h3 class="heading-small">Other ways to buy</h3>
      <p>The quickest way to buy a certificate is online. If you can't, there are <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificate-ppc">other ways to buy one</a>.</p>
    </div>

  </div>
{% endblock %}

