{% extends 'layout.html' %}

{% block pageTitle %}
You’ve been away from your device for 30 minutes
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            You’ve been away from your device for 30 minutes
        </h1>

        <p>
            For security reasons, we've deleted your details.
        </p>

        <p>
            You've successfully purchased prescription prepayment certificate.
        </p>
<p>You can close this tab. test this</p>
       

    </div>
</div>

{% endblock %}