<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  You are entitled to free NHS prescriptions - PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page heading -->
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        Contact us
      </h1>
    </legend><br>

    <!-- Add content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    <p>Our records show you may already be receiving help with NHS health costs.</p>

    <p>If you need help in completing this form, call us on 0300 330 1341. You could also use <a href="https://nhsbsa-live.powerappsportals.com/contact-us/">our contact form</a>.</p>
    
    <p class="navigation"><a class="cancel" href="/updated-full-journey/v3/start">Cancel</a></p>
  
  </div>
</div>

  </div>  
</div>
{% endblock %}
