{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation of 12 month full payment and to print - PPC
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #005EB8; margin-top: 0;">
              <h1 class="nhsuk-panel__title" style="color: white;">Done</h1><span class="nhsuk-caption-l nhsuk-caption--bottom" style="text-align: center; color: white;">
                  <b>You have prepaid for 12 months of prescriptions.</b>  </span> <br>
      </div>


      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p><b>Print your certificate details – you won't receive a certificate in the post.</b></p>
        <p>If a pharmacist asks for evidence that you have prepaid, you must show them your certificate details.</p>
      </div>


      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Certificate for:</td>
          <td class="nhsuk-table__cell "><b>Jane Doe</b></td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Certificate number:</td>
          <td class="nhsuk-table__cell "><b>20000096982</b></td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Starts on:</td>
          <td class="nhsuk-table__cell "><b>28 July 2023</b></td>
        </tr>

        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Ends on:</td>
            <td class="nhsuk-table__cell "><b>27 July 2024</b></td>
          </tr>
      </tbody>
      </table>
</div>


<p>We have sent your details to <b>jane.doe@gmail.com</b>. You can also print this page.</p>


        <ul class="list options-list"></ul>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-printer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 2H5a1 1 0 0 0-1 1v2H3V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h-1V3a1 1 0 0 0-1-1zm3 4H2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1v1H2a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1z"/>
              <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM5 8a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H5z"/>
              <path d="M3 7.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            
            </svg> <a href="javascript:window.print();">Print certificate </a>
        </ul>
    
    <!--  <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>

          <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Certificate for:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Jane Doe
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Certificate number:
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    10000000006578
                  </dd>
              
              
                </div>


                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Starts on:
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      28 July 2023
                    </dd>
                
                
                  </div>

                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Ends on:
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        27 July 2024
                      </dd>
                  
                  
                    </div>


              </dl>
       
        </div>-->
       
        <br><br><br>


    <h2>Collecting your prescriptions</h2>
<p>Tick box 'F' on the back of your prescription.</p> 
<p>Pharmacy staff ask for you prepayment details. If you do not have them
  with you, they tick 'Evidence not seen' on the prescription. They will
  not charge you.</p>
<p>We prevent fraud by matching certificate details on our database with prescriptions.</p>


 <h2>Feedback</h2>
    <p><a href="https://online1.snapsurveys.com/interview/703d9403-793b-44b0-a630-44678c514bfa"> What did you think of this service?</a> (Takes 30 seconds)</p>


  <h2>Contact us</h2>
     <p><a href="https://nhsbsa-live.powerappsportals.com/contact-us/">Contact us</a> if you have any queries about your prescription prepayment certificate.</p>


  <h2>Please join the NHS Organ Donation Register</h2>
    <p>Organ donation laws have changed - <a href="https://www.organdonation.nhs.uk/uk-laws/?campaign=2499&utm_source=prescription_ppc&utm_medium=referral&utm_content=web&utm_campaign=partner"> Find out how the laws affect the country you live in and what your choices are on the Organ Donation website</a>. (opens in new tab)
<p>If you needed an organ transplant, would you have one? If so, please help others.</p>
    <p>Tell your family about your organ donation decision.</p>

      <form action="https://www.organdonation.nhs.uk/register-your-decision/donate/?campaign=2499&utm_source=prescription_ppc&utm_medium=referral&utm_content=web&utm_campaign=partner">
        <button class="nhsuk-button" type="submit">
          Register to donate
        </button>
      </form>

      <p>(Opens on the NHS Organ Donor website in a new tab)</p>


   
  </div>
{% endblock %}
