{% extends 'layout.html' %}

{% block pageTitle %}
  Postcode Look-up - PPC
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
        
				<fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
					<legend class="nhsuk-fieldset_legend nhsuk-label--l">
						<h1 class="nhsuk-fieldset__heading">
							What is your address?
						</h1>
					</legend>
				</fieldset>

					<span class="nhsuk-hint">
						The address you give should match what is printed on your prescriptions.
					</span>

					<div id="contact-by-post">
						<div class="nhsuk-form-group">
						  <label class="nhsuk-label" id="address1" for="addressLine1">Address line 1</label>
						 <input class="nhsuk-input nhsuk-input--width-20" id="addressLine1" type="text" autocomplete="off" maxlength="30" aria-required="true" />
						
						</div>
						<div class="nhsuk-form-group">
						  <label class="nhsuk-label" id="address1" for="addressLine1">Address line 2 (Optional)</label>
						  <input class="nhsuk-input nhsuk-input--width-20" id="addressLine2" type="text" autocomplete="off" maxlength="30" />
						
						</div>
						<div class="nhsuk-form-group">
						  <label class="nhsuk-label" id="town" for="addressTown">Town or city</label>
						  <input class="nhsuk-input nhsuk-input--width-20" id="addressTown" type="text" name="addressTown" maxlength="30" autocomplete="off" />
						
						</div>
						<div class="nhsuk-form-group">
						  <label class="nhsuk-label" id="motherPostcode" for="postcode">Postcode</label>
						  <input class="nhsuk-input nhsuk-input--width-20" id="postcode" type="text" name="postcode" autocomplete="off" maxlength="8"/>
						</div>
					  </div>
					</fieldset>
				  
					<form action="nhs-number">
					  <button class="nhsuk-button" type="submit">
						Next
					  </button>
					</form>
			

					<p><a href="/ppc/updated-full-journey/version-1/start">Cancel</a></p>
					
				
    </div>
  </div>
{% endblock %}