{% extends 'layout.html' %}

{% block pageTitle %}
How would you like to receive your prepayment certificate? - PPC
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                How can we send you your prepayment certificate details?
              </h1>
            </legend>
         
            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p><b>We do not send out plastic cards any more because they take time to reach you.</b> They are also costly to the NHS and the environment.</p>
              </div>
          
              <p>We can send your prepayment certificate straight away by email. Or, you can print it at the end of the service.</p>

              <p>You will get a:</p>
              <ul>
                <li>certificate number</li>
                <li>start date</li>
                <li>end date</li>
              </ul>


              <div class="nhsuk-radios nhsuk-radios--conditional">
                <div class="nhsuk-radios__item">
                  
                    <!-- radio with aria controls -->
                    <input type="radio" value="EMAIL" id="email" class="nhsuk-radios__input" name="method" aria-controls="show-reminder1" aria-expanded="true" data-gtm-form-interact-field-id="0">
                  <label for="email" id="email-label" class="nhsuk-label nhsuk-radios__label">Email my certificate details</label>
                </div>

                <div id="show-reminder1" class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"> 
                  <div>
                    <p class="nhsuk-body">Your certificate will automatically renew after 12 months, as long as you don't cancel your Direct Debit.</p>
                    <p class="nhsuk-body">We'll send your new certificate by email, and a reminder one month before your renewal date.</p>
                  </div>
                
              </div>

                


                <div class="nhsuk-radios__item">
                  <input type="radio" value="NEITHER" id="neither" class="nhsuk-radios__input" name="method" aria-controls="show-reminder2" aria-expanded="false" data-gtm-form-interact-field-id="1">
                  <label for="neither" id="post-label" class="nhsuk-label nhsuk-radios__label">I will print my certificate details at the end of the service</label>
                </div>
                <div id="show-reminder2" class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden">
              
                    <div>
                      <p class="nhsuk-body">Your certificate will automatically renew after 12 months, as long as you don't cancel your Direct Debit.</p>
                      <p class="nhsuk-body">We'll send your new certificate by post, and a reminder one month before your renewal date.</p>
                    </div>
                    
                  
                </div>
              </div>



                <br>

                <form action="/ppc/updated-full-journey/version-1/email">
                  <button class="nhsuk-button" type="submit">
                    Next
                  </button>
                  </form>
        
        
                <p><a href="/ppc/updated-full-journey/version-1/start">Cancel</a></p>

     
    </div>
  </div>

{% endblock %}
