{% extends 'layout.html' %}

{% block pageTitle %}
  Select your address - PPC
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
        
				<fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
					<legend class="nhsuk-fieldset_legend nhsuk-label--l">
						<h1 class="nhsuk-fieldset__heading">
							Select your address
						</h1>
					</legend>
				</fieldset>

				  
					  <div class="nhsuk-radios">
				  
						<div class="nhsuk-radios__item">
							<input type="radio" value="0" id="address-0" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-0" class="nhsuk-label nhsuk-radios__label">HEALTH EDUCATION NORTH EAST 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>
				  
						<div class="nhsuk-radios__item">
							<input type="radio" value="1" id="address-1" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-1" class="nhsuk-label nhsuk-radios__label">NHS PROPERTY SERVICES LTD 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="2" id="address-2" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-2" class="nhsuk-label nhsuk-radios__label">NORTH EAST STRATEGIC HEALTH AUTHORITY 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="3" id="address-3" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-3" class="nhsuk-label nhsuk-radios__label">NORTH OF ENGLAND CANCER NETWORK 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="4" id="address-4" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-4" class="nhsuk-label nhsuk-radios__label">P H E QUALITY ASSURANCE 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="5" id="address-5" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-5" class="nhsuk-label nhsuk-radios__label">NORTH OF ENGLAND COMMISSIONING SUPPORT RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="6" id="address-6" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-6" class="nhsuk-label nhsuk-radios__label">ONBOARD PRO LTD RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="7" id="address-7" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-7" class="nhsuk-label nhsuk-radios__label">POSITIVE SOLUTIONS RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="8" id="address-8" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-8" class="nhsuk-label nhsuk-radios__label">S G P CONSULTING RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="9" id="address-9" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-9" class="nhsuk-label nhsuk-radios__label">NHS B S A STELLA HOUSE, GOLDCREST WAY, NE15 8NY</label>
						</div>
				  
						<div class="nhsuk-radios__item">
							<input type="radio" value="10" id="address-10" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-10" class="nhsuk-label nhsuk-radios__label">BERNICIA HOUSE NORTH EAST AMBULANCE SERVICE NHS TRUST THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="11" id="address-11" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-11" class="nhsuk-label nhsuk-radios__label">UNIT C1 PAJUNK UK MEDICAL PRODUCTS LTD THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
						</div>

						<div class="nhsuk-radios__item">
							<input type="radio" value="12" id="address-12" class="nhsuk-radios__input" name="selectedAddressIndex">
							<label for="address-12" class="nhsuk-label nhsuk-radios__label">STANNAH STAIRLIFTS, GOLDCREST WAY, NE15 8NY</label>
						</div>

					  </div>
					</fieldset>
				
		  <br>
				<p><a href="enter-address">Enter address manually</a></p>

					<form action="nhs-number">
						<button class="nhsuk-button" type="submit">
						  Next
						</button>
					  </form>


					<p><a href="/ppc/updated-full-journey/version-1/start">Cancel</a></p>
					
				
    </div>
  </div>
{% endblock %}