<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Postcode look-up address not found error - PPC
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
        
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#select-1">No address was found from the postcode provided</a>
            </li>
          </ul>
       
        </div>
      </div>
      
      

      
      <div class="nhsuk-form-group nhsuk-form-group--error">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            What is your postcode?
          </h1>
        </legend>
        <p>
          The address you choose must match what is printed on your prescriptions.
        </p>

       
        
     

        <label class="nhsuk-label" for="select-1">
          Postcode
        </label>
        <span class="nhsuk-error-message" id="dob-errors-error">
          <span class="nhsuk-u-visually-hidden">Error:</span> No address was found from the postcode provided
        </span>
        <input class="nhsuk-input nhsuk-input--width-10 nhsuk-input--error" id="input-width-10" name="test-width-10" type="text" value="AB12CD">
        
      </div>
      

      <p><a href="/updated-full-journey/v6/enter-address">Enter address manually</a></p>


      <form action="">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
  

      <p><a href="/updated-full-journey/v6/start">Cancel</a></p>
      
    
</div>
</div>
{% endblock %}
