{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation page 
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

     

          <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #005EB8; margin-top: 0;">
              <h1 class="nhsuk-panel__title" style="color: white;">Payment received</h1><span class="nhsuk-caption-l nhsuk-caption--bottom" style="text-align: center; color: white;">
                  You have paid for your 12 months prescriptions.  </span> <br>
               

      </div>

      <h2>Your certificate</h2>
      <p>We have sent your certificate to abc@emailaddress.com</p>
      
          <p>You can also choose to print or save your certificate details - you will not receive a certificate in the post.
          </p>

        <ul class="list options-list"></ul>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-printer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 2H5a1 1 0 0 0-1 1v2H3V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h-1V3a1 1 0 0 0-1-1zm3 4H2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1v1H2a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1z"/>
              <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM5 8a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H5z"/>
              <path d="M3 7.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            
            </svg> <a href="javascript:window.print();">Print your certificate </a>
          
        </ul>

        <ul class="list options-list"></ul>
      
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
        </svg>
        <a href="#">Save your certificate </a>
    
    <!--  <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>

          <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Certificate for:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Karen Francis
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Certificate number:
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    10000000006578
                  </dd>
              
              
                </div>


                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Starts on:
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      20 October 2020
                    </dd>
                
                
                  </div>

                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Ends on:
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        30 October 2021
                      </dd>
                  
                  
                    </div>


              </dl>
       
        </div>-->
       
        

        <div class="nhsuk-inset-text">
        <div class="nhsuk-table-responsive">
            <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Certificate for:</td>
              <td class="nhsuk-table__cell ">Karen Francis</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Certificate number:</td>
              <td class="nhsuk-table__cell ">10000000006578</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Starts on:</td>
              <td class="nhsuk-table__cell ">20 October 2020</td>
            </tr>

            <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Ends on:</td>
                <td class="nhsuk-table__cell ">30 October 2021</td>
              </tr>
          </tbody>
          </table>
</div>
    </div>
 
  



    <h2>
       Collecting your prescriptions
      </h2>

<p>Tick box 'F' on the back of your prescription.</p> 
<p> 
  You can use your certificate as much as you want between 'start date' and 'end date'. </p>


 


  <h3>
      Contact us
     </h3>

     <p><a href="#" class="nhsuk-link">Contact us</a> if you have any queries regarding your certificate or payment.</p>


     <p class="nhsuk-body">
        <a href="#" class="nhsuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>





   
  </div>
{% endblock %}
