{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers - Buy an NHS Prescription Prepayment Certificate (PPC)
{% endblock %}


<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}


{% block beforeContent %}


{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true">
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
      </path>
    </svg>
    Go back</a>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="check-details" onsubmit="return checkForm(this);" method="post" name="form" id="ppcForm"><input
        type="hidden" name="_csrf" value="964c2c03-f4c2-415f-a20c-eba3614cf4c1">

      <h1 class="nhsuk-heading-l">Check your answers</h1>


      <!-- YOUR DETAILS SECTION -->

      <h2 class="nhsuk-heading-m">Your details</h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="full-name">Name</dt>
          <dd class="nhsuk-summary-list__value" id="name-value">{{ data['firstname'] }} {{ data['lastname'] }}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="name" id="nameChangeButton" aria-label="Change name">Change</a>
          </dd>
        </div>


        <!-- CONVERT DOB MONTH TO WRITTEN MONTH  -->
        <!-- Convert month number to month name, so it can be written out in the DoB field -->
        {% set allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
        'October', 'November', 'December'] %}
        {% set dobMonthName = allMonths[data['dob-month'] - 1] %}


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="date-of-birth">Date of birth</dt>
          <dd class="nhsuk-summary-list__value" id="dob-value">{{data['dob-day']}} {{dobMonthName}}
            {{data['dob-year']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="date-of-birth" id="dobChangeButton"
              aria-label="Change date of birth">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="nhs-question">Do you know your NHS number?</dt>
          <dd class="nhsuk-summary-list__value" id="nhsq-value">{{data['nhs-number-known']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="nhs-number" id="nhsAnswerChangeButton"
              aria-label="Change do you know your NHS number?">Change</a>
          </dd>
        </div>

        {% if data['nhs-number-known'] === 'Yes' %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="nhs-no">NHS Number</dt>
          <dd class="nhsuk-summary-list__value" id="nhs-number">{{data['nhs-number-entered']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="nhs-number" id="nhsNoChangeButton"
              aria-label="Change NHS number">Change</a>
          </dd>
        </div>
        {% endif %}


        <!-- ADDRESS SUBSECTION -->
        <!-- If address was entered using Find Address journey (so address-line-1 was never filled, and has no length), present that found address -->
        {% if not data['address-line-1'] | length %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="address">Address</dt>
          <dd class="nhsuk-summary-list__value" id="address-value">{{data['selected-address-house-number']}} Test
            Road<br>Newcastle<br>{{data['postcode']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="enter-address" id="addressChangeButton"
              aria-label="Change address">Change</a>
          </dd>
        </div>

        {% else %}
        <!-- Else, address was entered using Enter Address journey, so present that entered address -->
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="address">Address</dt>
          <dd class="nhsuk-summary-list__value" id="address-value">
            {{data['address-line-1']}}<br>

            <!-- If address-line-2 was filled (contains anything/has length), add that line to displayed address -->
            {% if data['address-line-2'] | length %}
            {{data['address-line-2']}}<br>
            {% endif %}

            {{data['address-town']}}<br>
            {{data['postcode']}}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="enter-address" id="addressChangeButton"
              aria-label="Change address">Change</a>
          </dd>
        </div>
        {% endif %}


        <!-- EMAIL SUBSECTION -->
        <!-- Show chosen email adrress, if selected by user -->
        {% if data['fulfilment'] === 'email' %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="email-q">Receive PPC by email</dt>
          <dd class="nhsuk-summary-list__value" id="emailq-value">Yes</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="fulfilment" id="prepayEmailSentChangeButton"
              aria-label="Change get prepayment certificate and reminder by email?">Change</a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="email-address">Email address</dt>
          <dd class="nhsuk-summary-list__value" id="email-address-value">{{data['email']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="email" id="emailChangeButton" aria-label="Change email address">Change</a>
          </dd>
        </div>
      </dl>

      <!-- Otherwise, show no email address -->
      {% else %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" id="email-q">Receive PPC by email</dt>
        <dd class="nhsuk-summary-list__value" id="emailq-value">No</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="fulfilment" id="prepayEmailSentChangeButton"
            aria-label="Change get prepayment certificate and reminder by email?">Change</a>
        </dd>
      </div>
      </dl>
      {% endif %}


      <!-- YOUR CERTIFICATE SECTION -->
      <h2 class="nhsuk-heading-m">Your certificate</h2>

      <!-- CALCULATE END MONTH AND YEAR -->
      <!-- If duration is 12 months... -->
      {% if (data['certduration'] === 'twelvemonthdd') or (data['certduration'] === 'twelvemonthsingle') %}
        <!-- Simply set End Month the same as Start Month, and set End Year as 1 year after Start Year -->
        {% set endMonth = data['start-month'] %}
        {% set endYear = (data['start-year'] | int) + 1 %}

      <!-- Else if duration is 3 months... -->
      {% elseif data['certduration'] === 'threemonthsingle' %}
        <!-- If certificate would expire in same year (if month is 9 or lower), set End Month as 3 months after Start Month -->
        {% if 9 >= data['start-month'] %}
        {% set endMonth = (data['start-month'] | int) + 3 %}
        {% set endYear = data['start-year'] %}
      <!-- Else, certificate would expire next year, so set End month to what it should be in next year, and End Year becomes 1 later -->
      {% else %}
        {% set endMonth = (data['start-month'] | int) + 3 - 12 %}
        {% set endYear = (data['start-year'] | int) + 1 %}
      {% endif %}
      {% endif %}
      <!-- Minor issue: not all months have the same number of days (so isnt 100% accurate). But this should suffice. -->


      <!-- CONVERT START AND END MONTHS TO WRITTEN MONTHS  -->
      <!-- As with DoB, convert month numbers to month names, so they can be written out in the start/end fields -->
      {% set allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
      'October', 'November', 'December'] %}
      {% set startMonthName = allMonths[data['start-month'] - 1] %}
      {% set endMonthName = allMonths[endMonth - 1] %}


      <!-- 12 Months Direct Debit -->
      {% if data['certduration'] === 'twelvemonthdd' %}
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="length">Length</dt>
          <dd class="nhsuk-summary-list__value" id="length-value">12 months</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="duration" id="certLengthChangeButton"
              aria-label="Change certificate length">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="starts">Starts on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">{{data['start-day']}} {{startMonthName}}
            {{data['start-year']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="start-date" id="startDateChangeButton"
              aria-label="Change start date">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="ends">Ends on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">{{data['start-day']}} {{endMonthName}}
            {{endYear}}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="cost">Total cost</dt>
          <dd class="nhsuk-summary-list__value" id="total-cost">
            <p id="total-costdd"><span>{{ data.PPC12MonthsCost }}</span></p>
          </dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="method">Payment method</dt>
          <dd class="nhsuk-summary-list__value" id="pay-method">
            <p id="method-dd">10 instalments of <span>{{ data.PPCDirectDebitCost }}</span> by Direct Debit</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="duration" id="methodChangeButton"
              aria-label="Change payment method">Change</a>
          </dd>
        </div>
      </dl>

      <!-- 12 Months Single Payment -->
      {% elseif data['certduration'] === 'twelvemonthsingle' %}
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="length">Length</dt>
          <dd class="nhsuk-summary-list__value" id="length-value">12 months</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="duration" id="certLengthChangeButton"
              aria-label="Change certificate length">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="starts">Starts on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">{{data['start-day']}} {{startMonthName}}
            {{data['start-year']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="start-date" id="startDateChangeButton"
              aria-label="Change start date">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="ends">Ends on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">{{data['start-day']}} {{endMonthName}}
            {{endYear}}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="cost">Total cost</dt>
          <dd class="nhsuk-summary-list__value" id="total-cost">
            <p id="total-cost12"><span>{{ data.PPC12MonthsCost }}</span></p>
          </dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="method">Payment method</dt>
          <dd class="nhsuk-summary-list__value" id="pay-method">
            <p id="method-card">Card payment</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="duration" id="methodChangeButton"
              aria-label="Change payment method">Change</a>
          </dd>
        </div>
      </dl>

      <!-- 3 Months Single Payment -->
      {% elseif data['certduration'] === 'threemonthsingle' %}
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="length">Length</dt>
          <dd class="nhsuk-summary-list__value" id="length-value">3 months</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="duration" id="certLengthChangeButton"
              aria-label="Change certificate length">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="starts">Starts on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">{{data['start-day']}} {{startMonthName}}
            {{data['start-year']}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="start-date" id="startDateChangeButton"
              aria-label="Change start date">Change</a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="ends">Ends on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">{{data['start-day']}} {{endMonthName}}
            {{endYear}}</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="cost">Total cost</dt>
          <dd class="nhsuk-summary-list__value" id="total-cost">
            <p id="total-cost3"><span>{{ data.PPC3MonthsCost }}</span></p>
          </dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="method">Payment method</dt>
          <dd class="nhsuk-summary-list__value" id="pay-method">
            <p id="method-card">Card payment</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
          </dd>
        </div>
      </dl>
      {% endif %}


      <!-- WARNING CALLOUT -->
      <!-- T&Cs warning callout content for Direct Debit payments -->
      {% if data['certduration'] === 'twelvemonthdd' %}
      <div class="nhsuk-warning-callout" style="margin-top:60px">
        <h2 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Terms and conditions
          </span>
        </h2>
        <p>Before proceeding to payment, read the full <a
            href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificate-ppc/terms-and-conditions"
            target="_blank" rel="noopener">
            Prescription Prepayment Certificate terms and conditions (opens in new tab)</a>, which contains more details
          on Direct Debit renewals, cancelling your Direct Debit, and refunds.
        </p>
      </div>

      <!-- Slightly different T&Cs warning callout content for single payments -->
      {% elseif (data['certduration'] === 'twelvemonthsingle') or (data['certduration'] === 'threemonthsingle') %}
      <div class="nhsuk-warning-callout" style="margin-top:60px; margin-bottom: 40px;">
        <h2 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Terms and conditions
          </span>
        </h2>
        <p>Before proceeding to payment, read the full <a
            href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificate-ppc/terms-and-conditions"
            target="_blank" rel="noopener">
            Prescription Prepayment Certificate terms and conditions (opens in new tab)</a>.
        </p>
      </div>
      {% endif %}


      <!-- CARD PAYMENT OPTIONS INFORMATION (for Single Payments only) -->
      {% if (data['certduration'] === 'twelvemonthsingle') or (data['certduration'] === 'threemonthsingle') %}
      <div class="payment-info-box" style="margin-bottom: 40px;">
        {% if data.allowAppleAndGooglePay === 'true' %}
        <div class="notice-margin notice form-group">
          <p>
            If you choose to continue, you will be transferred to our payment provider to submit your payment
            details. You can <a id="pay-link" href="https://www.payments.service.gov.uk/" target="_blank"
              rel="noopener">find out more about GOV.UK Pay on their website (opens in new tab)</a>.
          </p>

          <ul class="accepted-cards field-empty">
            <li class="visa" data-key="visa" data-credit="true" data-debit="true">
            </li>
            <li class="master-card" data-key="master-card" data-credit="true" data-debit="true">
            </li>
            <li class="jcb" data-key="jcb" data-credit="true" data-debit="false">
            </li>
            <li class="diners-club" data-key="diners-club" data-credit="true" data-debit="false">
            </li>
          </ul>
          <span class="card-text">Accepted credit and debit card types</span>

        <ul class="apple-pay field-empty">
          <li class="apple-pay" title="Apple Pay logo" data-key="apple-pay" data-credit="true" data-debit="false">
          </li>
        </ul>

        <ul class="google-pay field-empty">
          <li class="google-pay" title="Google Pay logo" data-key="google-pay" data-credit="true" data-debit="false">
          </li>
        </ul>
        <br><br>

        <span class="card-text">Now accepting Apple Pay and Google Pay</span>

      </div>
      </div>
        {% else %}

        <div class="notice-margin notice form-group">
          <p>
            If you choose to continue, you will be transferred to our card payment provider to submit your payment
            details. You can <a id="pay-link" href="https://www.payments.service.gov.uk/" target="_blank"
              rel="noopener">find out more about GOV.UK Pay on their website (opens in new tab)</a>.
          </p>

          <ul class="accepted-cards field-empty">
            <li class="visa" data-key="visa" data-credit="true" data-debit="true">
            </li>
            <li class="master-card" data-key="master-card" data-credit="true" data-debit="true">
            </li>
            <li class="jcb" data-key="jcb" data-credit="true" data-debit="false">
            </li>
            <li class="diners-club" data-key="diners-club" data-credit="true" data-debit="false">
            </li>
          </ul>
          <span class="card-text">Accepted credit and debit card types</span>
        </div>

      {% endif %}
      {% endif %}



      <!-- PROCEED TO PAYMENT BUTTON -->
      <!-- For Direct Debit payments -->
      {% if (data['certduration'] === 'twelvemonthdd') %}
      <a href="direct-debit" class="nhsuk-button">
        Proceed to payment
      </a>

      <!-- For 12 month Single payments -->
      {% elseif (data['certduration'] === 'twelvemonthsingle') %}
      <a href="gov-pay-12-months" class="nhsuk-button">
        Proceed to payment
      </a>

      <!-- For 3 month Single payments -->
      {% else %}
      <a href="gov-pay-3-months" class="nhsuk-button">
        Proceed to payment
      </a>
      {% endif %}


      <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

  </div>
</div>







<!-- CSS for card payments option information -->

<style>
  /* accepted cards styles */
  .accepted-cards {
    display: block;
    width: 100%;
    margin: 15px 0 5px;
    padding: 0;
    float: none;
    overflow: hidden
  }

  @media (min-width: 40.0625em) {
    .accepted-cards {
      width: 66.666%
    }
  }

  .icon-important {
    background-image: url("/images/icon-white-important.png");

  }

  .accepted-cards li {
    display: block;
    width: 44px;
    height: 10px;
    margin: 0 10px 5px 0;
    padding-bottom: 2rem;
    float: left;
    background-image: url("/images/accepted-cards-sprite.png");
    background-size: 900% 200%;
    border: 1px solid #BFC1C3;
    border-radius: 5px;
  }

  .accepted-cards .visa {
    background-position: 0% 100%;
  }

  .accepted-cards.field-empty .visa,
  .accepted-cards .visa.selected {
    background-position: 0% 0%;
  }

  .accepted-cards .master-card {
    background-position: 12.5% 100%;
  }

  .accepted-cards.field-empty .master-card,
  .accepted-cards .master-card.selected {
    background-position: 12.5% 0%;
  }

  .accepted-cards .jcb {
    background-position: 37.5% 100%;
  }

  .accepted-cards.field-empty .jcb,
  .accepted-cards .jcb.selected {
    background-position: 37.5% 0%;
  }

  .accepted-cards .diners-club {
    background-position: 50% 100%;
  }

  .accepted-cards.field-empty .diners-club,
  .accepted-cards .diners-club.selected {
    background-position: 50% 0%;
  }

  .accepted-cards-hint {
    color: #6f777b;
  }

  .apple-pay {
    display: block;
    margin: 15px 0 5px;
    padding: 0;
    float: none;
  }

  @media (min-width: 40.0625em) {
    .apple-pay {
      width: 66.666%
    }
  }

  .apple-pay li {
    display: block;
    width: 50px;
    height: 10px;
    margin: 0 10px 5px 0;
    padding-bottom: 2rem;
    float: left;
    background-image: url("/images/Apple_Pay_Mark_RGB_041619.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .google-pay {
    display: block;
    margin: 15px 0 5px;
    padding: 0;
    float: none;
  }

  @media (min-width: 40.0625em) {
    .google-pay {
      width: 66.666%
    }
  }

  .google-pay li {
    display: block;
    width: 60px;
    height: 10px;
    margin: 0 10px 5px 0;
    padding-bottom: 2rem;
    float: left;
    background-image: url("/images/GPay_Acceptance_Mark_800.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  /* Payment card info box */
  .payment-info-box {
    background-color: #DEE0E2;
    padding: 20px;
    margin-bottom: 25px;
    float: left;
  }

  ul.accepted-cards.field-empty {
    margin-bottom: 10px;
  }

  .notice-margin {
    margin-bottom: 20px;
  }

  /* ./ */
</style>

{% endblock %}