{% extends 'layout.html' %}

{% block pageTitle %}
Confirmation of Direct Debit and to print - PPC
{% endblock %}


<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service.
            </span>
          </p>
        </div>
      </div>
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

        <!-- Done panel -->
        <div class="nhsuk-panel" style="padding: 30px;">
          <h1 class="nhsuk-panel__title" style="text-align: left;">
            Application complete
          </h1>
          <div class="nhsuk-panel__body" style="text-align: left; padding-top: 10px;">
            You have made a Direct Debit payment for 12 months of prescriptions.
          </div>
        </div>
    
        <p>If a pharmacist asks for evidence that you have prepaid, you must show them your certificate details.</p>
    
        <style>
    
          .panel-ppc {
              display: block;
              overflow: hidden;
              background-color: #005EB8;
              padding: 1.25rem;
              border-radius: 1.25rem;
              margin: 1.66666rem 0;
          }
    
          .panel-ppc > *:first-child {
              margin-top: 0;
          }
    
          .panel-ppc *,
          .panel-ppc a,
          .panel-ppc a:visited {
              color: white;
          }
    
          .panel-ppc a:focus {
              color: black;
          }
    
      </style>
    
      <div class="panel-ppc">
          
          <dl class="nhsuk-summary-list">
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key" >
                PPC for
              </dt>
              <dd class="nhsuk-summary-list__value">
                <!-- {{ data['firstname'] }} {{ data['lastname'] }} -->
                  John Smith
              </dd>
          
              
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate reference
              </dt>
              <dd class="nhsuk-summary-list__value">
                1000000001234
              </dd>
            </div>


        <!-- CALCULATE END MONTH AND YEAR -->
        <!-- If duration is 12 months... -->
        {% if (data['certduration'] === 'twelvemonthdd') or (data['certduration'] === 'twelvemonthsingle') %}
          <!-- Simply set End Month the same as Start Month, and set End Year as 1 year after Start Year -->
          {% set endMonth = data['start-month'] %}
          {% set endYear = (data['start-year'] | int) + 1 %}
        {% endif %}

        <!-- CONVERT START AND END MONTHS TO WRITTEN MONTHS  -->
        <!-- As with DoB, convert month numbers to month names, so they can be written out in the start/end fields -->
        {% set allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
        'October', 'November', 'December'] %}
        {% set startMonthName = allMonths[data['start-month'] - 1] %}
        {% set endMonthName = allMonths[endMonth - 1] %}

        <div class="nhsuk-summary-list__row nhsuk-print-black">
          <dt class="nhsuk-summary-list__key nhsuk-print-black">
            Starts on
          </dt>
          <dd class="nhsuk-summary-list__value nhsuk-print-black">
            {{data['start-day']}} {{startMonthName}} {{data['start-year']}}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row nhsuk-print-black">
          <dt class="nhsuk-summary-list__key nhsuk-print-black">
            Ends on
          </dt>
          <dd class="nhsuk-summary-list__value nhsuk-print-black">
            {{data['start-day']}} {{endMonthName}} {{endYear}}
          </dd>
        </div>

      </dl>

      <h3 class="nhsuk-heading-s">If your personal details change, you must contact the NHSBSA.</h3>
      <p class="nhsuk-body">If your details do not match you may receive a penalty charge.</p>
      <p class="nhsuk-body">Ways to contact us can be found on our website:<br /><a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs</a></p>
      
    </div>


    <!-- Save or Print Cert -->
    <h2 class="nhsuk-heading-m">Printing your certificate</h2>

    <p>You must save your certificate details by printing this page.</p>
    <p>You can also save your certificate as a PDF or take a screenshot of your certificate details above.</p>


    <a href=""><button class="nhsuk-button" data-prevent-double-click="true"
        data-inline="true" type="submit">
        Print or save a copy</button></a>


    <!-- Direct debit -->
    <div class="nhsuk-u-margin-bottom-7">
      <h2 class="nhsuk-heading-m">Your Direct Debit</h2>
      <p class="nhsuk-body">We have set up a Direct Debit payment for you. You will receive a letter confirming this and
        including your mandate. Our name on your bank statement will be NHSBSA.</p>
    </div>

    <div class="nhsuk-form-group">
      <h2 class="nhsuk-heading-m">Collecting prescriptions</h2>
      <p class="nhsuk-body">Tick box 'F' on the back of your prescription.</p>
      <p class="nhsuk-body">Pharmacy staff ask for prepayment details. If you do not have them with you, they tick
        'Evidence not seen' on the prescription. They will not charge you.</p>
      <p class="nhsuk-body">We prevent fraud by matching certificate details on our database with prescriptions.</p>
    </div>

    <div class="noprint">
      <!-- feedback -->
      <div class="nhsuk-form-group">
        <h2 class="nhsuk-heading-m">Feedback</h2>
        <p class="nhsuk-body"><a class="nhsuk-link"
            href="https://online1.snapsurveys.com/PPC_end_of_payment_feedback" target="_blank"
            rel="noopener" id="finished-button">Tell us what you think of this service.</a></p>
      </div>

      <!-- Contact us -->
      <h2 class="nhsuk-heading-m">Contact us</h2>
      <p class="nhsuk-body"><a class="nhsuk-link" href="https://nhsbsa-live.powerappsportals.com/contact-us/">Contact
          us</a> if you have any queries about your prescription prepayment certificate.</p>

      <hr>

      <h2 class="nhsuk-heading-m">Please join the NHS Organ Donation Register</h2>
      <p>Organ donation laws have changed - <a
          href="https://www.organdonation.nhs.uk/uk-laws/?campaign=2499&utm_source=prescription_ppc&utm_medium=referral&utm_content=web&utm_campaign=partner">
          Find out how the laws affect the country you live in and what your choices are on the Organ Donation website
          (opens in new tab)</a>.
      <p>If you needed an organ transplant, would you have one? If so, please help others.</p>
      <p>Tell your family about your organ donation decision.</p>

      <form
        action="https://www.organdonation.nhs.uk/register-your-decision/donate/?campaign=2499&utm_source=prescription_ppc&utm_medium=referral&utm_content=web&utm_campaign=partner">
        <button class="nhsuk-button" type="submit">
          Register to donate
        </button>
      </form>

      <p>(Opens on the NHS Organ Donor website in a new tab)</p>
      <img src="/images/organ-donation.png" alt="Organ Donation UK logo">
      <style>
        @media (min-width:320px) {
          /* smartphones, iPhone, portrait 480x320 phones */
        }

        img {
          width: 190px;
          height: 58px;
        }
      </style>

    </div>

    {% endblock %}