{% extends 'layout.html' %}
{% block pageTitle %}
  Confirm bank details - Buy an NHS Prescription Prepayment Certificate (PPC)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}


{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      Confirm bank details
    </h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-u-reading-width">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-2"> &nbsp; Your payments</h2>
      </div>
    </div>

    
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Number of payments
        </dt>
        <dd class="nhsuk-summary-list__value">
          10
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Payment amount per month
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data.PPCDirectDebitCost }}
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          First payment
        </dt>
        <dd class="nhsuk-summary-list__value">
          28 July 2023
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Final payment (on or after)
        </dt>
        <dd class="nhsuk-summary-list__value">
          28 April 2024
        </dd>
      </div>
    </dl>


    <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-2">Your account details</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Account holder’s name
        </dt>
        <dd class="nhsuk-summary-list__value">
          <span>  John Smith</span>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="direct-debit">
            Change<span class="nhsuk-u-visually-hidden"> account name</span>
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Account number
        </dt>
        <dd class="nhsuk-summary-list__value">
          <span>12345678</span>
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="direct-debit">
            Change<span class="nhsuk-u-visually-hidden"> Account number</span>
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Sort-code
        </dt>
        <dd class="nhsuk-summary-list__value">
          52-12-50
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="direct-debit">
            Change<span class="nhsuk-u-visually-hidden"> Sort code</span>
          </a>
        </dd>
      </div>
    </dl>
​
    <div class="nhsuk-promo">
      <img src="/images/direct-debit-logo.png" width="200" height="auto" alt="Direct Debit logo"/>

      <div class="payment-summary-small">
        <p>We will send this Direct Debit instruction to: <br>
          <b>Name of Your Bank</b>
        </p>
        <p>
          Please pay the NHS Business Services Authority Direct Debits from the account detailed in this instruction subject to the safeguards assured by the Direct Debit Guarantee. I understand that this instruction may remain with the Prescription prepayment Issue Office of the NHS Business Services Authority, and if so, details will be passed electronically to my Bank/Building Society.
        </p>
        <p>
          Originator:<br>
          NHS Business Services Authority, PPC, Bridge House,<br>
          152 Pilgrim Street, Newcastle upon Tyne, NE1 6SN
        </p>
        <p>
          Service User Number (SUN): 242785E
        </p>
        <p>Telephone: 0191 232 5371</p>
      </div>
    </div>
    <style>
      .nhsuk-promo{
      background:white;
      padding:20px;
      box-shadow: 0 4px 0 0 #D8DDE0;
      }
    </style>
 <!--  <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
        Your Direct Debit Instruction
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <figure class="nhsuk-image">
          <img class="nhsuk-image__img" src="/images/ddlogo.png" width="5px" height="148px" alt="Picture of DD logo">
        </figure>
        <div class="payment-summary-small">
          <p>We will send this Direct Debit instruction to: <br>
            <span style="font-weight:bold;">Your Bank, Their St. Theirtown</span>
          </p>
          <p>
            Please pay the NHS Business Services Authority Direct Debits from the account detailed in this instruction subject to the safeguards assured by the Direct Debit Guarantee. I understand that this instruction may remain with the Prescription prepayment Issue Office of the NHS Business Services Authority, and if so, details will be passed electronically to my Bank/Building Society.
          </p>
          <p>
            Originator:<br>
            NHS Business Services Authority, PPC, Bridge House,<br>
            152 Pilgrim Street, Newcastle upon Tyne, NE1 6SN
          </p>
          <p>
            Service User Number (SUN): 242785E
          </p>
          <p>Telephone: 0191 232 5371</p>
        </div>
      </div>
    </details> -->


    <a href="submit-direct-debit" class="nhsuk-button nhsuk-u-margin-top-8">
      Confirm
    </a>
   
    <p><a href="start">Cancel</a></p>

   
  


  </div>
</div>
{% endblock %}
