<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

{% block pageTitle %}
Select your address - Buy an NHS Prescription Prepayment Certificate (PPC)
{% endblock %}


<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back
      </a>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form class="form" action="select-address" method="post">

          <!-- Change the page heading -->
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Select your address
              </h1>
            </legend>

            <p>The address you select must match what is printed on your prescriptions.</p>


            <div class="nhsuk-radios">
				  
              <div class="nhsuk-radios__item">
                <input type="radio" value="0" id="address-0" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-0" class="nhsuk-label nhsuk-radios__label">HEALTH EDUCATION NORTH EAST 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>
            
              <div class="nhsuk-radios__item">
                <input type="radio" value="1" id="address-1" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-1" class="nhsuk-label nhsuk-radios__label">NHS PROPERTY SERVICES LTD 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="2" id="address-2" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-2" class="nhsuk-label nhsuk-radios__label">NORTH EAST STRATEGIC HEALTH AUTHORITY 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="3" id="address-3" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-3" class="nhsuk-label nhsuk-radios__label">NORTH OF ENGLAND CANCER NETWORK 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="4" id="address-4" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-4" class="nhsuk-label nhsuk-radios__label">P H E QUALITY ASSURANCE 4 THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="5" id="address-5" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-5" class="nhsuk-label nhsuk-radios__label">NORTH OF ENGLAND COMMISSIONING SUPPORT RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="6" id="address-6" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-6" class="nhsuk-label nhsuk-radios__label">ONBOARD PRO LTD RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="7" id="address-7" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-7" class="nhsuk-label nhsuk-radios__label">POSITIVE SOLUTIONS RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="8" id="address-8" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-8" class="nhsuk-label nhsuk-radios__label">S G P CONSULTING RIVERSIDE HOUSE, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="9" id="address-9" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-9" class="nhsuk-label nhsuk-radios__label">NHS B S A STELLA HOUSE, GOLDCREST WAY, NE15 8NY</label>
              </div>
            
              <div class="nhsuk-radios__item">
                <input type="radio" value="10" id="address-10" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-10" class="nhsuk-label nhsuk-radios__label">BERNICIA HOUSE NORTH EAST AMBULANCE SERVICE NHS TRUST THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="11" id="address-11" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-11" class="nhsuk-label nhsuk-radios__label">UNIT C1 PAJUNK UK MEDICAL PRODUCTS LTD THE WATERFRONT, GOLDCREST WAY, NE15 8NY</label>
              </div>

              <div class="nhsuk-radios__item">
                <input type="radio" value="12" id="address-12" class="nhsuk-radios__input" name="selectedAddressIndex">
                <label for="address-12" class="nhsuk-label nhsuk-radios__label">STANNAH STAIRLIFTS, GOLDCREST WAY, NE15 8NY</label>
						</div>

					  </div>
					</fieldset>

          <br><br>

          <p><a href="enter-address">My address is not listed</a></p>

          <br>

          <button class="nhsuk-button" type="submit">
            Continue
          </button>
        </form>

        <p><a href="start">Cancel</a></p>

      </div>
    </div>
    {% endblock %}