{% extends 'layout.html' %}

{% block pageTitle %}
  What is your name?
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <form action="/ppc/iteration_2/buy/name" method="post">

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What's your name?
              </h1>
            </legend>
            <span class="nhsuk-hint">
Your first name and last name should match what's printed on your prescriptions. Do not include any middle names.
</span>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example">
                
          First name
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="firstname" name="firstname" value="{{ data['firstname'] }}" type="text">
          </div>
        

          <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="example">
                  
            Last name
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="lastname" name="lastname" value="{{ data['lastname'] }}"type="text">
            </div>




            <button class="nhsuk-button" type="submit">
               Continue
                        </button>


      </form>

   

    </div>
  </div>

{% endblock %}
