{% extends 'layout.html' %}

{% block pageTitle %}
  Postcode
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/ppc/iteration_2/buy/postcode_v2" method="post">
        
				<fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
					<legend class="nhsuk-fieldset_legend nhsuk-label--l">
						<h1 class="nhsuk-fieldset__heading">
							Find your address
						</h1>
					</legend>
				</fieldset>

					<span class="nhsuk-hint">
						The address you give should match what is printed on your prescriptions.
					</span>

					
					<div class="nhsuk-form-group">
						<label class="nhsuk-label nhsuk-label" for="input-width-10">
						House number or name (optional)
						</label>
						
						<input class="nhsuk-input nhsuk-input--width-10" id="address-housenumber" name="addresshousenumber" type="text" autocomplete="address-line1">
				
					</div>
					

					<div class="nhsuk-form-group">
							<label class="nhsuk-label nhsuk-label" for="input-width-10">
								Postcode
							</label>
							<input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="addresspostcode" type="text" autocomplete="postal-code">
					
						</div>






						
						<button class="nhsuk-button" type="submit" >
						Find address
						</button>
					
				<br>
				<p><a href="../buy/address-manual">Enter my address manually</a></p>
			</form>  
    </div>
  </div>
{% endblock %}