{% extends 'layout.html' %}

{% block pageTitle %}
How to apply for a refund?
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        
       
            <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                How to apply for a refund
              </h1>
            </legend>
          
          
   
           <p>If you pay NHS prescription charges then find out that you’re entitled to free prescriptions or 
             backdate a prescription prepayment certificate, you can only get a refund if you were given an 
             FP57 refund receipt when you paid. You can’t get one later.
<br> <br>
              Take your FP57 refund receipt to any community pharmacy, with evidence that you were 
              entitled to free NHS prescriptions when you paid. You must do this within three months 
              of the date that you paid. The pharmacy will refund you.</p>

                    
                
                </div>


          </fieldset>
        
    
      

             

      </form>

   
    </div>
  </div>

{% endblock %}
