{% extends 'layout.html' %}

{% block pageTitle %}
  Start page 
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Buy an NHS Prescription Prepayment Certificate
      </h1>

     



      <p>
          Use this service to save money on your NHS prescriptions.
      </p>

      <p> A prescription costs £9.15 per item. You can prepay by credit or debit card, or by Direct Debit, for an unlimited number of prescriptions. </p>
<p> A prescription prepayment certificate costs:</p>
      <ul class="list list-bullet">
        <li>£29.65 for 3 months</li>
        <li>£105.90 for 12 months (or 10 Direct Debit instalments of £10.59)</li>
      </ul>


      <h2 class="nhsuk-heading-m">You'll need:</h2>

      

      <ul class="list list-bullet">
        <li>your personal details, including name, date of birth and address</li>
        
        <li>bank or payment card details so that we can process your payment</li>
      </ul>

      <p>We'll also ask for your NHS number, if you have it.</p>

     <p> Once you have your certificate, you'll be able to collect prescriptions straight away, if your start date is today or earlier.</p>
      
      <p>You may have to show your certificate details when you collect your prescription. </p>
      
      <p>Buying a prescription prepayment certificate takes around 10 minutes.</p>





 


      

      <a href="../buy/dob" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>
      <h3 class="heading-small">Before you start</h3>
      <p>The quickest way to buy a certificate is online. If you can't, there are <a href="#">other ways to buy</a>
        a prescription prepayment certificate</p>
    </div>

  </div>
{% endblock %}

