{% extends 'layout.html' %}

{% block pageTitle %}
  We could not process your details - PPC
  {% endblock %}

  {% block content %}       
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                We could not process your details
              </h1>
            </legend>
          </fieldset>
      
    <p>Our system is having technical difficulties.</p>

    <p>If you want to try again, <a href="/updated-full-journey/v5/start">return to the start</a>.</p>

    <p>If the problem persists, contact us:</p>

    <p>Telephone 0300 330 1341 (this call will be charged at a local rate).</p>

    <p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>

    <p>Alternatively, <a href="https://faq.nhsbsa.nhs.uk/contact-us/">use our contact form</a> (opens in a new tab).</p>
        

    </div>
  </div>
</main>
</main>

{% endblock %}