{% extends 'layout.html' %}

{% block pageTitle %}
  Direct Debit - TOC
{% endblock %}




{% block content %}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Direct debit terms and condition
      </h1>

      <p >
          By submitting, you are agreeing to pay 10 instalments of £10.59. </p>

          <p>If you fail to pay an instalment, you: </p>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>are not entitled to use your prescription prepayment certificate </li>
            <li>may have to pay a penalty charge</li>
              <li>may not be able to pay by Direct Debit in the future</li>
          </ul>
     

    </div>  

  </div>
{% endblock %}
