{% extends 'layout.html' %}

{% block pageTitle %}
Your payment has been cancelled - PPC
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Your payment has been cancelled
        </h1>
      </legend>
    </fieldset>

    <p>We have not taken any money out of your account.</p>

    <p>If you want to try again, you will have to <a href="/updated-full-journey/v6/start">return to the start</a>.</p>

    <p>If you need help, contact us:</p>

    <p>Telephone 0300 330 1341 (this call will be charged at a local rate).</p>

    <p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>

    <p>Alternatively, <a href="https://faq.nhsbsa.nhs.uk/contact-us/">use our contact form(opens in new tab)</a>.</p>


  </div>
</div>
</main>
</main>

{% endblock %}