{% extends 'layout.html' %}

{% block pageTitle %}
  Payment declined
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Your payment has been declined
      </h1>

    


      <p>
       No money has been taken from your account. 
      </p>
<h2>What happens next</h2>

      <p> You can try to make the payment again. You have 2 attempts to make the payment. </p>

    <p>You may need to use a different credit or debit card.</p>

<p>We recommend that you contact your bank for more details if this issue continues.</p>
   

      



  


      

      <a href="#" class="nhsuk-button nhsuk-u-margin-bottom-8">
       Try payment again
      </a>
     

      <h3>If you need to contact us:</h3>

      
  <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">If you need to contact us: </span>
 <p> <strong>Phone:</strong> 
   0300 330 1341 (this call will be charged at a local rate)</p>
   
<p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm</p>
</div>

    </div>

  </div>
{% endblock %}
