// Panel - confirmation
.nhsuk-panel--confirmation {
  margin-top: 0;
  padding: nhsuk-spacing(6);
}

.nhsuk-panel__title {
  @include nhsuk-responsive-margin(4, "bottom");

  text-align: center;
}

.nhsuk-panel__body {
  @include nhsuk-font(26);

  text-align: center;

  strong {
    @include nhsuk-font(36, bold);
  }
}
