{% extends 'layout.html' %}

{% block pageTitle %}
  We could not process your details - PPC
  {% endblock %}

  {% block content %}       
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                We could not process your details
              </h1>
            </legend>
          </fieldset>
      
    <p>It is not your fault. Our system is having technical difficulties.</p>

    <p>If you want to try again, <a href="/ppc/updated-full-journey/version-2/start">return to the start</a>.</p>

    <p>If the problem persists, <a href="https://faq.nhsbsa.nhs.uk/contact-us/">use our contact form</a> or call 0300 330 1341 - <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers"> find out about call charges</a> (opens in a new tab).</p>

        

    </div>
  </div>
</main>
</main>

{% endblock %}