{% extends 'layout.html' %}

{% block pageTitle %}
  Your payment has been cancelled - PPC
  {% endblock %}

  {% block content %}       
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Your payment has been cancelled
              </h1>
            </legend>
          </fieldset>
      
    <p>We have not taken any money out of your account.</p>

    <p>If you want to try again, you will have to <a href="/ppc/updated-full-journey/version-2/start">return to the start</a>.</p>

    <p>If you need help, contact us:</p>

    <p><b>Phone:</b> 0300 330 1341 (this call will be charged at a local rate)</p>
      
    <p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>  

    <p>Alternatively, <a href="https://faq.nhsbsa.nhs.uk/contact-us/">use our contact form</a> (opens in a new tab).</p>


    </div>
  </div>
</main>
</main>

{% endblock %}