{% extends 'layout.html' %}

{% block pageTitle %}
  Start page - PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
       beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-headling-xl">
        Buy an NHS Prescription Prepayment Certificate
      </h1>

     
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important information
          </span>
        </h3>
        <p>If you pay for NHS prescribed hormone replacement therapy (HRT) medicine, then an <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-hormone-replacement-therapy-prescription-prepayment-certificate-hrt-ppc" target="_blank" rel="noopener">HRT PPC could save you more money than a PPC (opens in a new tab)</a>.</p>
      </div>


      <p>
        Save money on NHS prescriptions by prepaying for them.
      </p>

      <p>You can pay a set price for prescriptions for 3 or 12 months, no matter how many you need.</p>
<p>A prescription costs £9.90 per item, but prepaying for an unlimited number of prescriptions is:</p>
      <ul class="list list-bullet">
        <li>£32.05 for 3 months</li>
        <li>£114.50 for 12 months (or 10 Direct Debit instalments of £11.45)</li>
      </ul>


      

     <h2 class="nhsuk-heading-m">How it works</h2>
      <p>We can send your certificate details by email, or you can print them at the end of the service.</p>

     <p>Show your certificate details when you collect your prescription. You can collect prescriptions straight away, if your start date is today or earlier.</p>
      
     

      

     <a href="/updated-full-journey/v2/where-you-collect" class="nhsuk-button nhsuk-u-margin-bottom-8">
      Buy now
    </a>
      <h2 class="nhsuk-heading-s">Other ways to buy</h3>
      <p>The quickest way to buy a certificate is online. If you can't, there are <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificate-ppc">other ways to buy one</a>.</p>
    </div>

  </div>
{% endblock %}

