{% extends 'layout.html' %}

{% block pageTitle %}
When do you want your prepayment certificate to start? - PPC
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>


<script>
    var monthBack = new Date();
    var dd = monthBack.getDate();
    var mm = monthBack.getMonth() + 0; //January is 0!
    var yyyy = monthBack.getFullYear();
  
    if (dd < 10) {
      dd = '0' + dd
    }
  
    if (mm < 10) {
      mm = '0' + mm
    }

    monthBack = dd + '/' + mm + '/' + yyyy;


    var monthForward = new Date();
    var dd = monthForward.getDate();
    var mm = monthForward.getMonth() + 2; //January is 0!
    var yyyy = monthForward.getFullYear();
  
    if (dd < 10) {
      dd = '0' + dd
    }
  
    if (mm < 10) {
      mm = '0' + mm
    }
    monthForward = dd + '/' + mm + '/' + yyyy;
  
    
  </script>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                When do you want your prepayment certificate to start?
              </h1>
            </legend>
         
              <p>
                You can choose any day to start your prepayment certificate between <script>document.write(monthBack);</script> and <script>document.write(monthForward);</script>.
              </p>
          
          
            <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="numyes" name="ppcstart" type="radio" value="today"aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                   To cover perscriptions I'll collect today or later
                  </label>
                
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
          
 
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>Choose the date you will collect your next prescription to get the most out of your certificate.
                    <br> <br>
                        If you already have a certificate, choose a date after this expires.</p>
                  
                        <div class="nhsuk-date-input" id="example">

                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="future-day">
                                  Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="future-day" name="future-day" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="future-month">
                                  Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="future-month" name="future-month" type="number" pattern="[0-9]*">
                              </div>
                            </div>
                            <div class="nhsuk-date-input__item">
                              <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="future-year">
                                  Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="future-year" name="future-year" type="number" pattern="[0-9]*">
                              </div>
                  
                            </div>
                  
                        </div>
                  </div>
              
               

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="numno" name="ppcstart" type="radio" value="backdate" aria-controls="conditional-contact-2" aria-expanded="true">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                    I want to backdate my certificate - I have collected my perscription before today
                    </label>
                   
                  </div>
                    
                  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
          
                    
                      <span class="nhsuk-u-visually-hidden">Information: </span>
                      <p>Choose the date you collected your prescription.
                        <br> <br>
                        You can only claim a refund if you were given a form on the day you collected the prescription.
                      </p>
                         
                     
                      <!-- You can only claim a refund if you were given a form on the day you collected the prescription.</p>-->
                    
                          <div class="nhsuk-date-input" id="example">
  
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="back-day">
                                    Day
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="back-day" name="back-day" type="number" pattern="[0-9]*">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="back-month">
                                    Month
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="back-month" name="back-month" type="number" pattern="[0-9]*">
                                </div>
                              </div>
                              <div class="nhsuk-date-input__item">
                                <div class="nhsuk-form-group">
                                  <label class="nhsuk-label nhsuk-date-input__label" for="back-year">
                                    Year
                                  </label>
                                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="back-year" name="back-year" type="number" pattern="[0-9]*">
                                </div>
                    
                              </div>
                    
                          </div>
                    </div>
                
                </div>

                <br>

                <form action="/updated-full-journey/v2/fulfilment">
                  <button class="nhsuk-button" type="submit">
                    Next
                  </button>
                  </form>
        
        
                <p><a href="/updated-full-journey/v2/start">Cancel</a></p>

     
    </div>
  </div>

{% endblock %}
