{% extends 'layout.html' %}

{% block pageTitle %}
  Your payment has been declined - PPC
  {% endblock %}

  {% block content %}       
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Your payment has been declined
              </h1>
            </legend>
          </fieldset>
      
    <p>No money has been taken from your account.</p>

    <p>You have 2 more attempts to try and make the payment again.</p>

    <p>You may need to use a different debit or credit card.</p>

        
        <form action="/updated-full-journey/v5/gov-pay">
          <button class="nhsuk-button" type="submit">
            Try payment again
          </button>
          </form>

    <p>If you need help, contact us:</p>

    <p>Telephone 0300 330 1341 (this call will be charged at a local rate)</p>
      
    <p>Lines are open Monday to Friday 8am to 6pm, and Saturday 9am to 3pm.</p>  

    <p>Alternatively, <a href="https://faq.nhsbsa.nhs.uk/contact-us/">use our contact form</a> (opens in a new tab).</p>

      <p><a href="/updated-full-journey/v5/kickout/payment-cancelled">Cancel</a></p>

    </div>
  </div>
</main>
</main>

{% endblock %}