<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Do you still want to buy a PPC? - PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>


  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              You previously selected the back button when on the payment screen
            </h1>
          </legend>
         
            <p>If you got an error or had any issues when trying to pay, your payment may have already been taken.</p>

            <p>You can contact us to check if your payment was successful by:</p>
  
            
            <ul>
              <li>calling us on 0300 330 1341 - find out about <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">call charges(opens in new tab)</a>.</li>
              <li>using our <a href="https://faq.nhsbsa.nhs.uk/contact-us/">online contact form</a>.</li>
            </ul>
        

         <p>You can still continue to the payment screen. However, you could be charged again.</p>

         

          
    
        
        
        </fieldset>
      
      </div>
      
      
      <form action="">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
        </form>


      <p><a href="/updated-full-journey/v5/start">Cancel</a></p>

    </div>  

  </div>
{% endblock %}
