{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation of Direct Debit and to receive email - PPC
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Done panel -->
    <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #005EB8; margin-top: 0;">
      <h1 class="nhsuk-panel__title" style="color: white;">Done</h1><span class="nhsuk-caption-l nhsuk-caption--bottom" style="text-align: center; color: white;">
          <b>We have set up a Direct Debit payment for 12 months of prescriptions.</b>  </span> <br>
    </div>

    
  
    <!-- Print cert warning -->
    <div class="nhsuk-inset-text">
      
      <h2 class="nhsuk-heading-m">You won't receive a certificate in the post - keep your details safe.</h2>
      <p class="nhsuk-body">If a pharmacist asks for evidence that you have prepaid, you must show them your certificate details.</p>
    </div>

    <!-- cert details table -->
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal" id="prepayment-for">Certificate for:</dt>
        <dd class="nhsuk-summary-list__value nhsuk-u-font-weight-bold" id="prepayment-name">Jane Doe</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal" id="prepayment-number">Certificate number:</dt>
        <dd class="nhsuk-summary-list__value nhsuk-u-font-weight-bold" id="prepayment-cert">20000097788</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal" id="prepayment-start">Starts on:</dt>
        <dd class="nhsuk-summary-list__value nhsuk-u-font-weight-bold" id="prepayment-startdate">28 July 2023</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal" id="prepayment-ends">Ends on:</dt>
        <dd class="nhsuk-summary-list__value nhsuk-u-font-weight-bold" id="prepayment-enddate">27 July 2024</dd>
      </div>
    </dl>

    <!-- Email AND Mobile are present -->
    
    
    <!-- ONLY Email present -->
    <p class="nhsuk-body">We have sent your certificate details to <span class="nhsuk-u-font-weight-bold">jane.doe@gmail.com</span>. You can also print this page.</p>
    
    <!-- ONLY Mobile present -->
    

    <!-- Print Cert -->
        <ul class="list options-list"></ul>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-printer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 2H5a1 1 0 0 0-1 1v2H3V3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2h-1V3a1 1 0 0 0-1-1zm3 4H2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1v1H2a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1z"/>
              <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM5 8a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H5z"/>
              <path d="M3 7.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            
            </svg> <a href="javascript:window.print();">Print certificate </a>
        </ul>
    
    <!--  <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>

          <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Certificate for:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Jane Doe
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Certificate number:
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    10000000006578
                  </dd>
                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Starts on:
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      28 July 2023
                    </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">
                        Ends on:
                      </dt>
                      <dd class="nhsuk-summary-list__value">
                        27 July 2024
                      </dd>
                    </div>
              </dl>
        </div>-->
       
        <br><br><br>


    <!-- Direct debit -->
    <div class="nhsuk-u-margin-bottom-7">
      <h2 class="nhsuk-heading-m">Your Direct Debit</h2>
      <p class="nhsuk-body">We have set up a Direct Debit payment for you. You will receive a letter confirming this and including your mandate. Our name on your bank statement will be NHSBSA.</p>
    </div>

    <div class="nhsuk-form-group">
      <h2 class="nhsuk-heading-m">Collecting prescriptions</h2>
      <p class="nhsuk-body">Tick box 'F' on the back of your prescription.</p>
      <p class="nhsuk-body">Pharmacy staff ask for prepayment details. If you do not have them with you, they tick 'Evidence not seen' on the prescription. They will not charge you.</p>
      <p class="nhsuk-body">We prevent fraud by matching certificate details on our database with prescriptions.</p>
    </div>

    <div class="noprint">
      <!-- feedback -->
      <div class="nhsuk-form-group">
        <h2 class="nhsuk-heading-m">Feedback</h2>
        <p class="nhsuk-body"><a class="nhsuk-link" href="https://online1.snapsurveys.com/buy-prescription-prepayment-certificate-feedback/" target="_blank" rel="noopener" id="finished-button">What did you think of this service?</a> (Takes 30 seconds)</p>
      </div>

      <!-- Contact us -->
      <h2 class="nhsuk-heading-m">Contact us</h2>
      <p class="nhsuk-body"><a class="nhsuk-link" href="https://nhsbsa-live.powerappsportals.com/contact-us/">Contact us</a> if you have any queries about your prescription prepayment certificate.</p>
    
      <hr>
    
      <!-- Organ donation -->
      <div id="organ-donation">
        <h2 class="nhsuk-heading-m">Please join the NHS Organ Donation Register</h2>
        <p class="nhsuk-body">Organ donation laws have changed - <a class="nhsuk-link" id="organ-laws__link" href="https://www.organdonation.nhs.uk/uk-laws/?campaign=2499&amp;utm_source=prescription_ppc&amp;utm_medium=referral&amp;utm_content=web&amp;utm_campaign=partner" rel="noopener" target="_blank">find out how the laws affect the country you live in and what your choices are on the Organ Donation website (opens in new tab)</a>.</p>
      
        <p class="nhsuk-body">If you needed an organ transplant, would you have one? If so, please help others.</p>
      
        <p class="nhsuk-body">Tell your family about your organ donation decision.</p>
      
        <a class="nhsuk-button" id="organ-register__link" href="https://www.organdonation.nhs.uk/register-your-decision/donate/?campaign=2499&amp;utm_source=prescription_ppc&amp;utm_medium=referral&amp;utm_content=web&amp;utm_campaign=partner" rel="noopener" target="_blank" role="button">Register to donate</a>
      
        <p class="nhsuk-body">(Opens on the NHS Organ Donor website in a new tab)</p>
      
        <img id="organ-donation__img" class="od-image" src="images/organ-donation.png" alt="Organ Donation">
      </div>
    </div>



{% endblock %}
