{% extends 'layout.html' %}

{% block pageTitle %}
  You can get free prescriptions soon - PPC
  {% endblock %}

  {% block content %}       
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                You will be eligible for free prescriptions soon
              </h1>
            </legend>
          </fieldset>
      
    <h4>The information you gave indicates you are 58 years old.</h4>
    <p>You will be eligible for free prescriptions from the age of 60.</p>
    <p>Once you turn age 59 and 3 months old, your prepayment certificate will not automatically renew because you're approaching age 60.</p>
    <p>You do not need to do anything yet.</p>
    <p>You will be sent a reminder one month before your current prepayment certificate is due to expire.</p>


    <h4>Renewing your prepayment certificate aged 59</h4>

    <p>Depending on how many months you have left before you turn age 60, you can choose to cover the cost of your prescriptions with one or more 3-month PPCs.</p>   

    <p>Press continue to proceed or cancel to stop.</p>

        <form action="/updated-full-journey/v4/name">
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
          </form>

      <p><a href="/updated-full-journey/v4/start">Cancel</a></p>

    </div>
  </div>
</main>
</main>

{% endblock %}