{% extends 'layout.html' %}

{% block pageTitle %}
  You can get free prescriptions soon - PPC
  {% endblock %}

  {% block content %}       
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                You will be eligible for free prescriptions soon
              </h1>
            </legend>
          </fieldset>
      
    <p>The information you gave indicates you are 59 years old.</p>

    <p>You will be eligible for free prescriptions from the age of 60.</p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Your prepayment certificate will not automatically renew if you are turning 60 within 9 months of your current certificate expiring.</p>
    </div>

    <h3>Covering the cost of your prescriptions until you reach age 60</h3>

    <p>Depending on how many months you have left before you turn age 60, you can choose to cover the cost of your prescriptions with one or more 3-month PPCs.</p>   

    <p>A 3-month prescription prepayment certificate costs £31.25.</p>

    <p>Press continue to proceed or cancel to stop.</p>

        <form action="/updated-full-journey/v4/name">
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
          </form>

      <p><a href="/updated-full-journey/v4/start">Cancel</a></p>

    </div>
  </div>
</main>
</main>

{% endblock %}