{% extends 'layout.html' %}

{% block pageTitle %}
  Start page - PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<style>

  #nhsuk-cookie-banner .nhsuk-success-banner {
      background-color: #007f3b;
      color: #fff;
      padding: 8px 0 8px 0;
      position: relative;
  }
  
  #nhsuk-cookie-banner .nhsuk-success-banner p {
      margin: 0;
  }
  
  #nhsuk-cookie-banner {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: Frutiger W01,Arial,Sans-serif;
      color: azure;
  }
  
  
  
  #nhsuk-cookie-banner p {
      padding: 0px;
      font-size: 16px;
  }
  
  #nhsuk-cookie-banner p {
      margin-bottom: 16px;
      display: block;
      margin-top: 0;
      font-size: 16px;
      line-height: 1.5;
  }
  
  </style>
  <!-- Extends the layout from /views/layout.html -->
  {% extends 'layout-cookies-1.html' %}
  
  
  <!-- 
    In /views/layout.html you can:
      - edit the header and footer 
      - add custom CSS and JavaScript
  -->
  

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
       beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-headling-xl">
        Buy an NHS Prescription Prepayment Certificate
      </h1>

     
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important information
          </span>
        </h3>
        <p>If you pay for NHS prescribed hormone replacement therapy (HRT) medicine, then an <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-hormone-replacement-therapy-prescription-prepayment-certificate-hrt-ppc" target="_blank" rel="noopener">HRT PPC could save you more money than a PPC (opens in a new tab)</a>.</p>
      </div>


      <p>
        Save money on NHS prescriptions by prepaying for them.
      </p>

      <p>You can pay a set price for prescriptions for 3 or 12 months, no matter how many you need.</p>
<p>A prescription costs £9.65 per item, but prepaying for an unlimited number of prescriptions is:</p>
      <ul class="list list-bullet">
        <li>£31.25 for 3 months</li>
        <li>£111.60 for 12 months (or 10 Direct Debit instalments of £11.16)</li>
      </ul>


      

     <h2 class="nhsuk-heading-m">How it works</h2>
      <p>We can send your certificate details by email, or you can print them at the end of the service.</p>

     <p>Show your certificate details when you collect your prescription. You can collect prescriptions straight away, if your start date is today or earlier.</p>
      
     

      

     <a href="/updated-full-journey/v4/where-you-collect" class="nhsuk-button nhsuk-u-margin-bottom-8">
      Buy now
    </a>
      <h2 class="nhsuk-heading-s">Other ways to buy</h3>
      <p>The quickest way to buy a certificate is online. If you can't, there are <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificate-ppc">other ways to buy one</a>.</p>
    </div>

  </div>
{% endblock %}

