{% extends 'layout.html' %}

{% block pageTitle %}
  Check your answers - 12 months full payment and to receive email - PPC
{% endblock %}

{% block beforeContent %}
  
  
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="check-details" onsubmit="return checkForm(this);" method="post" name="form" id="ppcForm"><input type="hidden" name="_csrf" value="964c2c03-f4c2-415f-a20c-eba3614cf4c1">
      <h1 class="nhsuk-heading-l">Check your answers</h1>
      <div class="nhsuk-warning-callout">
        <h2 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Before you continue
          </span>
        </h2>
        <p>If you pay for NHS prescribed hormone replacement therapy (HRT) medicine, then an <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-hormone-replacement-therapy-prescription-prepayment-certificate-hrt-ppc" target="_blank" rel="noopener">HRT PPC could save you more money than a PPC (opens in a new tab)</a>.</p>
      </div>
      <h2 class="nhsuk-heading-m">Your details</h2>
      
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="full-name">Name</dt>
          <dd class="nhsuk-summary-list__value" id="name-value">Jane Doe</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/name" id="nameChangeButton" aria-label="Change name">Change</a>
          </dd> 
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="date-of-birth">Date of birth</dt>
          <dd class="nhsuk-summary-list__value" id="dob-value">14 February 1991</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/date-of-birth" id="dobChangeButton" aria-label="Change date of birth">Change</a>
          </dd>
        </div>
        <!-- This is the problem-->
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="nhs-question">Do you know your NHS number?</dt>
          <dd class="nhsuk-summary-list__value" id="nhsq-value">Yes</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/nhs-number" id="nhsAnswerChangeButton" aria-label="Change do you know your NHS number?">Change</a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="nhs-no">NHS Number</dt>
          <dd class="nhsuk-summary-list__value" id="nhs-number">1111111111</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/nhs-number" id="nhsNoChangeButton" aria-label="Change NHS number">Change</a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="address">Address</dt>
          <dd class="nhsuk-summary-list__value" id="address-value">NHS B S A STELLA HOUSE<br>GOLDCREST WAY<br>NEWCASTLE UPON TYNE<br>NE158NY</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/enter-address" id="addressChangeButton" aria-label="Change address">Change</a>
          </dd>
        </div>
        
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="email-q">Get prepayment certificate and reminder by email?</dt>
          <dd class="nhsuk-summary-list__value" id="emailq-value">Yes</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/fulfilment" id="prepayEmailSentChangeButton" aria-label="Change get prepayment certificate and reminder by email?">Change</a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="email-address">Email address</dt>
          <dd class="nhsuk-summary-list__value" id="email-address-value">jane.doe@gmail.com</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/email" id="emailChangeButton" aria-label="Change email address">Change</a>
          </dd>
        </div>
      </dl>

      <h2 class="nhsuk-heading-m">Your certificate</h2>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="length">Length</dt>
          <dd class="nhsuk-summary-list__value" id="length-value">12 months</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="/ppc/updated-full-journey/version-2/duration" id="certLengthChangeButton" aria-label="Change certificate length">Change</a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="starts">Starts on</dt>
          <dd class="nhsuk-summary-list__value" id="starts-on">28 July 2023</dd>
          <dd class="nhsuk-summary-list__actions">
            
            
              <a href="/ppc/updated-full-journey/version-2/start-date" id="startDateChangeButton" aria-label="Change start date">Change</a>
            
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="ends">Ends on</dt>
          <dd class="nhsuk-summary-list__value" id="ends-on">27 July 2024</dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="cost">Total cost</dt>
          <dd class="nhsuk-summary-list__value" id="total-cost">
            
            <p id="total-cost12">£<span>111.60</span></p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key" id="method">Payment method</dt>
          <dd class="nhsuk-summary-list__value" id="pay-method">
            
            <p id="method-card">Card payment</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
            
              <a href="/ppc/updated-full-journey/version-2/duration" id="methodChangeButton" aria-label="Change payment method">Change</a>
            
          </dd>
        </div>
      </dl> 
      
      <div class="payment-info-box" style="margin-top:20px;">
        <div class="notice-margin notice form-group">
            
            <strong style="font-size: large;">
                If you choose to continue, you will be transferred to our card payment provider, <a id="pay-link" href="https://www.payments.service.gov.uk/" target="_blank" rel="noopener">GOV.UK Pay (opens in a new tab)</a>.
            </strong>
        </div>
        <ul class="accepted-cards field-empty">
          <li class="visa" data-key="visa" data-credit="true" data-debit="true">
            
          </li>
          <li class="master-card" data-key="master-card" data-credit="true" data-debit="true">
            
          </li>
          <li class="jcb" data-key="jcb" data-credit="true" data-debit="false">
            
          </li>
          <li class="diners-club" data-key="diners-club" data-credit="true" data-debit="false">
            
          </li>
        </ul>
        <span class="card-text">Accepted credit and debit card types</span>
    </div>
  
    
    
  
      <style>
        /* accepted cards styles */
        .accepted-cards {
          display: block;
          width: 100%;
          margin: 15px 0 5px;
          padding: 0;
          float: none;
          overflow: hidden
        }
  
        @media (min-width: 40.0625em) {
          .accepted-cards {
            width:66.666%
          }
        }
  
        .icon-important {
          background-image: url("/images/icon-white-important.png");
  
        }
  
        .accepted-cards li {
          display: block;
          width: 44px;
          height: 10px;
          margin: 0 10px 5px 0;
          padding-bottom: 2rem;
          float: left;
          background-image: url("/images/accepted-cards-sprite.png");
          background-size: 900% 200%;
          border: 1px solid #BFC1C3;
          border-radius: 5px;
        }
  
        .accepted-cards .visa {
          background-position: 0% 100%;
        }
  
        .accepted-cards.field-empty .visa,.accepted-cards .visa.selected {
          background-position: 0% 0%;
        }
  
        .accepted-cards .master-card {
          background-position: 12.5% 100%;
        }
  
        .accepted-cards.field-empty .master-card,.accepted-cards .master-card.selected {
          background-position: 12.5% 0%;
        }
  
        .accepted-cards .jcb {
          background-position: 37.5% 100%;
        }
  
        .accepted-cards.field-empty .jcb,.accepted-cards .jcb.selected {
          background-position: 37.5% 0%;
        }
  
        .accepted-cards .diners-club {
          background-position: 50% 100%;
        }
  
        .accepted-cards.field-empty .diners-club,.accepted-cards .diners-club.selected {
          background-position: 50% 0%;
        }
  
        .accepted-cards-hint {
          color: #6f777b;
        }
  
        /* Payment card info box */
        .payment-info-box {
          background-color: #DEE0E2;
          padding: 20px; 
          margin-bottom: 25px;
          float: left; 
        }
  
        ul.accepted-cards.field-empty {
          margin-bottom: 10px;
        }
  
        .notice-margin {
          margin-bottom: 20px;
        }
        /* ./ */
  
      </style>
  
      
  
      <a href="/ppc/updated-full-journey/version-2/card-details" class="nhsuk-button">
        Proceed to payment
      </a>
      <p class="navigation"><a class="cancel" href="/ppc/updated-full-journey/version-2/start">Cancel</a></p>
  
    </div>
  </div>
{% endblock %}
