<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
          Buy an NHS Prescription Prepayment Certificate
        <!--  <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>-->
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
          A Prepayment Certificate lets you get as many NHS prescriptions as you need for a set price.
      </p>

      <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Sharing this prototype
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>To give others access to this prototype:</p>
            <ul>
              <li>Username :  </li>
              <li>Password : </li>
            </ul>
          </div>
        </details>

      <hr>

      <h2>
        Sprint work - Continuous improvement
      </h2>

      <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary" >
                    <span class="nhsuk-details__summary-text">Sprint 4 Q2</span>
           </summary>
           <div class="nhsuk-details__text">
              <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                 <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text"><small>Version 1</small></span>
                 </summary>
         
          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with the NHSUK Front end Kit
                 <strong>will be a useful feature for</strong>
             users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also up to date with the 
             accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This will</strong> help users to confidently use the service.</p>
          <hr>

          <h3 class="nhsuk-heading-m">Hypothesis B</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online user flow based on pain points & user feedback
                 <strong>will be a useful feature for</strong>
             users <strong>as it will</strong> create a better user experience while purchasing a PPC. <strong>This will</strong> help users to quickly and easily obtain help with health costs.</p>
          <hr>
          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
             <li>Created a back link </li>
             <li>Removed the cancel link </li>
             <li>Content in the Start page</li>
             <li>Following GDS guidance changed 'Next' label to 'Continue'</li>
             <li>Re-designed 'How long do you want your PPC to last?' screen : broke it into several screens 
               (to follow GDS guidance of 1 question per page)</li>
               <li>Re-designed : When do you want your PPC to start? This screen has been split into 3 different screens to cater 3 different users (New user, User with expiring certificate,
                 User with expired cert) - we believe by displaying information relevant to this type user might be useful to them to ease their user experience (This is following the implementation of the new API Exemtption Search)</li>
               <li>Following user research  a user need been identified (link) : added information about Prescription payment refund</li>
             <li>Moved DD details (on when payment will be taken) to Bank Details screen from the above screen to avoid 
               cognitive overload & to avoid long information in an conditional reveal</li>
               <li>Following user feedback on how many screens it takes to key in address - this has been shortened & simplified</li>
               <li>Information on renewal for users who chose to pay via DD</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
             <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
             <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
             <li>...</li>
          </ul>
          <hr>
          <p class="nhsuk-u-margin-bottom-0"><a href="ppc/start-page"><button class="nhsuk-button"
            type="submit">Buy an NHS Prescription Prepayment Certificate</button></a></p>
        </details>

      

      <hr>

    <!--   <h2>
        Documentation
      </h2>

      <ul>
        <li>
          Get started with <a href="/docs">how to guides and page templates</a>
        </li>
        <li>
          Copy and paste styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>
      </ul>

      End of content -->

    </div>
  </div>
{% endblock %}
