<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>
      Buy an NHS Prescription Prepayment Certificate (PPC)
    </h1>

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="/updated-full-journey/v5/start">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
          </path>
        </svg>
        <span class="nhsuk-action-link__text">Begin full journey (Latest version)</span>
      </a>
    </div>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p style="margin-bottom: 10px;"><strong>Sharing this prototype</strong></p>
      <p>Username: ppc_30 <br>
        Password: ppc_30</p>
    </div>

    <h2>
      Brief
    </h2>

    <p>
      Having to pay for a lot of NHS prescriptions seperately may become expensive.
      It may be cheaper to buy a prescription prepayment certificate (PPC) -
      effectively a prescription "season ticket".</p>


    <p>
      A PPC covers all NHS prescriptions, including NHS dental prescriptions, no matter how many items are needed.</p>

    <p>
      However, it does not cover the cost of other health-related items,
      such as the provision of wigs and fabric supports, which are only provided through the hospital service.</p>

    <p>
      There are 3 PPC options to choose from:
    <ol>
      <li>The 3-month PPC which costs £31.25 and will save money if a person needs more than 3 prescribed items in 3
        months.</li>
      <li>The 12-month PPC which costs £111.60 and will save a person money if they need more than 11 prescribed items
        in a year.</li>
      <li>The hormone replacement therapy (HRT) PPC which costs £19.30 and will save a person money if they need more
        than 2 prescribed HRT items in a year.</li>
    </ol>
    </p>

    <p>
      The HRT PPC is only for HRT medicines licensed to treat menopause symptoms, but can be used regardless of the
      reasons why certain medicines are prescribed for someone. Find out more about the <a
        href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-hormone-replacement-therapy-prescription-prepayment-certificate-hrt-ppc">HRT
        PPC</a>.</p>

    <hr>

    <h2>
      Prototype versions
    </h2>

    <!-- VERSION 5 -->

    <div class="nhsuk-expander-group">
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">Version 5 - Apple/Google Pay, speech recognition fixes, T&Cs content
            (16/11/2023)</span>
        </summary>
        <div class="nhsuk-details__text">

          <h3 class="nhsuk-heading-m" style="margin-top: 15px;">Full Journey</h3>

          <p>In V5, the different certificate payment/duration journeys now work as expected; therefore, you are no
            longer
            required to enter a specific email address to view these (e.g. 'directdebit.test@gmail.com').</p>

          <div class="nhsuk-action-link" style="margin-top: 40px;">
            <a class="nhsuk-action-link__link" href="/updated-full-journey/v5/start">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                </path>
              </svg>
              <span class="nhsuk-action-link__text">Begin full journey</span>
            </a>
          </div>

          <hr>

          <h3 class="nhsuk-heading-m">What we reviewed</h3>
          <ol>
            <li>New Apple/Google Pay journey, added to GOV Pay screen</li>
            <li>Certificate Duration page - Speech recognition issue </li>
            <li>Certificate Start Date page - Speech recognition issue</li>
            <li>Changes to improve awareness of PPC Terms and Conditions</li>
            <li>General changes:</li>
            <ul>
              <li>(Content) All 'Opens in new tab' link now include this text in the hyperlinks themselves.</li>
              <li>(Prototype/functionality) All inputted data is now dynamic and appears later (except on final
                'Application complete' page, still needs doing there).</li>
            </ul>
          </ol>

          <br>

          <h3 class="nhsuk-heading-m">1. 'Pay with Apple/Google Pay' journeys</h3>
          <ul>
            <li>
              Apple Pay - <a href="/updated-full-journey/v5/gov-pay-12-months-apple-pay">Gov Pay screen with new Apple
                Pay
                button and popup functionality</a>.
            </li>

            <li>
              Apple Pay (Mobile version) - <a href="/updated-full-journey/v5/gov-pay-12-months-apple-pay-mobile">Gov Pay
                screen with new Apple Pay button and popup functionality</a>.
            </li>

            <li>
              Google Pay - <a href="/updated-full-journey/v5/gov-pay-12-months-google-pay">Gov Pay screen with new
                Google
                Pay button and popup functionality</a>.
            </li>

            <li>
              Google Pay (Mobile version) - <a href="/updated-full-journey/v5/gov-pay-12-months-google-pay-mobile">Gov
                Pay
                screen with new Google Pay button and popup functionality</a>.
            </li>
          </ul>

          <h3 class="nhsuk-heading-m">2. Certificate Duration page - Speech recognition issue</h3>
          <p>An issue has been discovered when using speech recognition (Voice Control on Mac) on this page. The user is
            offered three radio buttons, and two have the same label, saying 'Single payment'. Testers have attempted to
            say 'single payment' and the amount, but Voice Control times out before their sentence can be completed.</p>
          <p>The agreed solution for this issue was quite simple: to change the labels on radio buttons to be
            different from one another.</p>

          <h3 class="nhsuk-heading-m">3. Certificate Start Date page - Speech recognition issue</h3>
          <p>A similar issue has been reported on this page. In the previous version, there were two sets of date
            fields,
            meaning there are two Day, Month and Year fields. When using Voice Control on Mac, it was discovered
            that it was not possible to differentiate between the two fields, because naturally they are labelled the
            same
            way.</p>
          <p>After considering several different options, the agree solution has been to remove both radio buttons, have
            only one set of date fields on the page, and present the information previously hidden within the two radio
            buttons as standalone content. Information about refunds has been moved into a Details component, for users
            who wish to backdate their certificate and have a valid FP57 form from that day.</p>

          <hr>

          <h3 class="nhsuk-heading-m">Full page list</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/page-list-beta">Page list</a> - inclusive of main journey pages,
                errors, kickouts, service errors and cookies.</p>
            </li>
          </ul>
      </details>
    </div>


    <!-- VERSION 4 -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Version 4 - Apple/Google Wallet storage, exemptions and T&Cs content
          (13/09/2023)</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Apple/Google Wallet certificate storage facilities and
                changes to content to better align with user needs.</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>

          <h3 class="nhsuk-heading-m">We reviewed CSAT feedback and user needs, specifically in relation to:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Certificate storage facilities</li>
            <li>Clearer info about prescriptions becoming free at age 60</li>
            <li>Info around existing exemption/benefits which entitle users to free prescriptions</li>
            <li>More information around refund rules and payment expectations</li>
            <li>Clearer info around when a PPC will/will not autorenew</li>
          </ul>

          <br>

          <h3 class="nhsuk-heading-m">Certificate storage facilities:</h3>
          <p>From reviewing recent CSAT feedback, and general comments made about the PPC application, we identified
            that it would be in users' best interests to add both Google and Apple Wallet certificate storage
            facilities.</p>
          <p>Allowing users to add their PPC to their digital wallet on their mobile devices, enables users to easily
            access their certificate without rummaging around their email inbox or digging around for their paper
            certificate which can be easily lost or damaged.</p>

          <br>

          <h3 class="nhsuk-heading-m">Clearer info about prescriptions becoming free at age 60:</h3>
          <p>We have received many complaints from users who have had a PPC that has failed to auto-renew because they
            are coming up to age 60, some have ended up with PCNs.</p>
          <p>Whilst we are looking at reinstating the reminder for people coming up to 60, it would also be helpful if
            clearer information is provided within the application user journey so we are giving users every opportunity
            to make the right decision for them,
            particularly when selecting the length of their certificate.</p>
          <p>This is because for users approaching age 60, they may find it more cost-effective to buy multiple 3-month
            PPCs if for example, they turn 60 within 6 months and therefore, wouldn't get the full
            use out of a 12-month certificate.</p>
          <p>We have now provided clearer information regarding prescriptions becoming free at age 60 by adding new
            content when the system flags up a users who are aged 58 or 59. <br>
            <br>
            View the <a href="/updated-full-journey/v4/kickout/age-59">Age 59</a> screen and/or
            view the <a href="/updated-full-journey/v4/kickout/age-58">Age 58</a> screen.
          </p>
          <p>We have also provided content around approaching age 60 and certificate auto-renewals throughout the user
            journey. For example, you can see on the <a href="/updated-full-journey/v4/duration">Certificate
              Duration</a> screen
            that this information has been clearly highlighted to users through inset text.</p>
          </p>

          <br>

          <h3 class="nhsuk-heading-m">Info around existing exemption/benefits which entitle users to free prescriptions:
          </h3>
          <p>Some users are unaware that some exemptions and benefits already entitle them to free NHS prescriptions,
            e.g., MATEX and Universal Credit.</p>
          <p>In order to prevent users purchasing something they don't need i.e., a PPC in this instance, we now
            signpost users to check if they're already entitled to free NHS prescriptions by using our Eligibility
            Checker which has been added to the <a href="/updated-full-journey/v4/start">Start</a> screen using an
            Action Link component.</p>
          <p>The current <a href="/updated-full-journey/v1/date-of-birth">Live DOB</a> screen (as of 13/09/2023) says
            ‘We collect this information to check if you qualify for free prescriptions’. This is misleading to users,
            as we only check our own exemption database. We now clarify at this point that we ask this question because
            it helps us to identify if a person's age already entitles them to free prescriptions, e.g., over 60 or
            under 16, etc.</p>
          <p>Again, as we cannot advise the user about all exemptions/benefits, signposting users to our Eligbility
            Checker via the Start screen will prevent users from purchasing a PPC which they may not need.</p>

          <br>

          <h3 class="nhsuk-heading-m">More information around refund rules and payment expectations:</h3>
          <p>Complaints about refunds/cancelled Direct Debits are really high and users frequently mention they had no
            idea that they couldn’t cancel their PPC or request a refund.</p>
          <p>To help users understand more about the terms and conditions associated with PPCs, we have added more
            content to the <a href="/updated-full-journey/v4/submit-direct-debit">Confirm and submit</a> screen seen
            within the Direct Debit journey,
            and signposted users to the NHSBSA website to encourage users to read and agree to the <a
              href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificate-ppc/terms-and-conditions">PPC
              T&Cs</a> prior to buying a PPC.</p>
          </p>

          <br>

          <h3 class="nhsuk-heading-m">Clearer info around when a PPC will/will not autorenew:</h3>
          <p>A PPC paid by Direct Debit will not always automatically renew. The current user journey, particularly on
            the <a href="/updated-full-journey/v1/fulfilment">Certificate fulfilment</a> screen is currently misleading
            about this.
            As it stands, the Live screen says, "Your certificate will automatically renew after 12 months, as long as
            you don't cancel your Direct Debit.", however, there are many reasons why a user's Direct Debit may not
            auto-renew.
            For example, if a user fails to keep up with monthly payments, the Direct Debit is being paid from someone
            else's account or, the user is approaching age 60. This list is not exhaustive.</p>
          <p>We have now strengthed info regarding PPC renewals throughout the user journey regarding PPC renewals by
            including clearer content which you can view on the version 4 prototype <a
              href="/updated-full-journey/v4/fulfilment">Certificate fulfilment</a> screen and when users are identified
            as being age 58/59 which are linked above.</p>


          <br>

          <h3 class="nhsuk-heading-m">Next steps:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>We may need to add Google/Apple payment options to the 'Check your answers' screens if all tests well
              following HRT-PPC design and research.</li>
          </ul>
          <hr>



          <h3 class="nhsuk-heading-m">Adding certificate to Apple Wallet journey</h3>
          <ul>
            <li>
              <p> <a
                  href="/updated-full-journey/v4/mobile/apple-wallet/mobile-confirmation-3-months-email-apple">Confirmation
                  page with new certificate storage facilities, as if using an Apple device</a>.</p>
            </li>
          </ul>

          <h3 class="nhsuk-heading-m">Adding certificate to Google Wallet journey</h3>
          <ul>
            <li>
              <p> <a
                  href="/updated-full-journey/v4/mobile/google-wallet/mobile-confirmation-3-months-email-google">Confirmation
                  page with new certificate storage facilities, as if using an Android device</a>.</p>
            </li>
          </ul>

          <hr>

          <h3 class="nhsuk-heading-m">The full user-journey</h3>
          <ul>
            <li>
              <p> To view the full user journey from the Start to the Confirmation screen, <a
                  href="/updated-full-journey/v4/start">click here</a>. </p>
            </li>
          </ul>

          <br>

          <h3 class="nhsuk-heading-m">For the email route, use:</h3>
          <ul>
            <li><b>'directdebit.test@gmail.com'</b> to view the Direct Debit journey.</li>
            <li><b>'12month.test@gmail.com'</b> to view the 12 Month journey.</li>
            <li><b>'3month.test@gmail.com'</b> to view the 3 Month journey.</li>
          </ul>


          <hr>
          <h3 class="nhsuk-heading-m">Full page list</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/page-list-beta">Page list</a> - inclusive of main journey pages,
                errors, kickouts, service errors and cookies.</p>
            </li>
          </ul>


        </details>
    </details>


    <!-- VERSION 3 -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Version 3 - Content changes, new confirmation component
          (17/08/2023)</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Updates to content and design</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Content and design have been altered slightly throughout the user journey so that it is clearer to users
              considering purchasing a PPC.</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li></li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>



          <h3 class="nhsuk-heading-m">Start page</h3>
          <ul>
            <li>
              <p>More content has been added to the <a href="/updated-full-journey/v3/start">Start screen</a> of the PPC
                user journey to better inform users as they consider purchasing a PPC.</p>
              <p>As a UCD team, we've considered the multiple routes that a broad range of users might hear about PPCs
                and how they might access the online service.
                Whilst some users may land directly on the NHSBSA website, other users may have been signposted from
                external websites such as GOV.UK or NHS.UK -
                there is a lot of content on the NHS's website around PPCs, detailing important information such as PPCs
                covering dental prescriptions and making it
                clear to the user that they can claim as many prescriptions as they need with a valid PPC. We felt that
                whilst some users may be aware of this, others may not -
                as various ways of purchasing a PPC exist. For instance, some users may hear of PPC at a pharmacy,
                others may have heard of the certificate through friends or relatives.</p>
              <p>We have therefore decided to update the info provided on the start page of the user journey to include
                more important information we felt was missing, such as
                info around dental prescriptions and the 'unlimited' amount of prescriptions any person can claim whilst
                holding a valid PPC.</p>
              <p>We also decided to include a 'Before you start', 'you'll need a valid debit or credit card in order to
                purchase a PPC' as felt that warning users about this
                prior to starting the journey as seen on other services such as HRT-PPC and MATEX Register, is relevant
                so that they have what's needed to complete the journey at hand.</p>
              </p>
            </li>
          </ul>

          <h3 class="nhsuk-heading-m">Fulfilment and Confirmation screens</h3>
          <ul>
            <li>
              <p>Content about plastic cards has now been removed from both the <a
                  href="/updated-full-journey/v3/fulfilment">Fulfilment</a> and <a
                  href="/updated-full-journey/v3/confirmation-dd-email">Confirmation screens</a>.</p>
              <p>Content about plastic cards no longer being sent out to users has now been removed from both the
                Fulfilment and Confirmation screens as we felt it was inappropriate to tell users something that we used
                to and no longer do.</p>
            </li>
          </ul>

          <h3 class="nhsuk-heading-m">Confirmation screens</h3>
          <ul>
            <li>
              <p>New components have been used on all <a
                  href="/updated-full-journey/v3/confirmation-dd-email">Confirmation screens</a>.</p>
              <p>As tested across HRT-PPC, we know that the card-like components used to differentiate the confirmation
                panel (now seen in green) from the certificate details (now seen in blue)
                have had a really positive impact on users. Users are able to clearly recognise that they've
                successufully completed their application for a PPC and can also identify their certificate
                details easily as they're contained in a card-like component which as mentioned above, we used to send
                out. The new blue component really stands out amongst all of the other content and
                will make it easier for users to take a photo or screenshot of.</p>
            </li>
          </ul>



          <h3 class="nhsuk-heading-m">For the email route, use:</h3>
          <ul></ul>
          <li><b>'directdebit.test@gmail.com'</b> to view the Direct Debit journey.</li>
          <li><b>'12month.test@gmail.com'</b> to view the 12 Month journey.</li>
          <li><b>'3month.test@gmail.com'</b> to view the 3 Month journey.</li>
          </ul>

          <hr>

          <h3 class="nhsuk-heading-m">Full page list</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/page-list-beta">Page list</a> - inclusive of main journey pages,
                errors, kickouts, service errors and cookies.</p>
            </li>
          </ul>


        </details>
    </details>


    <!-- VERSION 2 -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Version 2 - New filter screen for user's country (28/07/2023)</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>New filter screens</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>New filter screens have been added at the beginning of the user journey to help identify any users who
              are based, and/or collect their prescriptions, outside of England.</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>The new screens which are used to help identify users who are based, and/or collect their prescriptions,
              outside of England, and whether they're successful.</li>
            <li>How users interact with the new screens and whether they find the new information provided more helpful
              when deciding if they still want to buy a PPC depending which country they collect their prescriptions in.
            </li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>

          <h3 class="nhsuk-heading-m">Start page</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/v2/start">Start page leading to full user journey.</a></p>
            </li>
          </ul>

          <h3 class="nhsuk-heading-m">What country do you collect your prescriptions in?</h3>
          <ul>
            <li>
              <p>Added a filter page at the start of the journey to help identify any users who are based, and/or
                collect their prescriptions, outside of England. <a
                  href="/updated-full-journey/v2/where-you-collect">'What country do you collect your prescriptions
                  in?'</a></p>
            </li>
          </ul>

          <h3 class="nhsuk-heading-m">For the email route, use:</h3>
          <ul></ul>
          <li><b>'directdebit.test@gmail.com'</b> to view the Direct Debit journey.</li>
          <li><b>'12month.test@gmail.com'</b> to view the 12 Month journey.</li>
          <li><b>'3month.test@gmail.com'</b> to view the 3 Month journey.</li>
          </ul>

          <hr>

          <h3 class="nhsuk-heading-m">Full page list</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/page-list-beta">Page list</a> - inclusive of main journey pages,
                errors, kickouts, service errors and cookies.</p>
            </li>
          </ul>
        </details>
    </details>


    <!-- VERSION 1 -->

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Version 1 - Updated full journey to reflect live service/'as-is'
          (28/07/2023)</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Updated full user journey and PPC pricing</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>The new prices for each PPC and updated these accordingly.</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>



          <h3 class="nhsuk-heading-m">Start page</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/v1/start">Start page with updated PPC prices</a>, leading to the rest
                of the full user journey - reflective of what is currently live as of 28/07/2023.</p>
            </li>
          </ul>


          <h3 class="nhsuk-heading-m">For the email route, use:</h3>
          <ul></ul>
          <li><b>'directdebit.test@gmail.com'</b> to view the Direct Debit journey.</li>
          <li><b>'12month.test@gmail.com'</b> to view the 12 Month journey.</li>
          <li><b>'3month.test@gmail.com'</b> to view the 3 Month journey.</li>
          </ul>


          <hr>
          <h3 class="nhsuk-heading-m">Full page list</h3>
          <ul>
            <li>
              <p> <a href="/updated-full-journey/page-list-beta">Page list</a> - inclusive of main journey pages,
                errors, kickouts, service errors and cookies.</p>
            </li>
          </ul>
        </details>
    </details>

    <hr style="margin-top: 60px;">


    <!-- OLD PROTOTYPES -->

    <h2>
      Old versions
    </h2>


    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">HRT PPC content added (03/03/2023)</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>HRT added content</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">

          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">


            <li>..</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>


          <ul>
            <h3>Start page</h3>
            <li>
              <p>Version 1 - <a href="/ppc/iteration_6/start-page">Start page with updated HRT content</a></p>
            </li>
            <li>
              <p>Version 2 (Using warning callout) - <a href="/ppc/iteration_6/start-page-2">Start page with updated HRT
                  content</a></p>
            </li>
            <h3>Check your answers</h3>
            <li>
              <p>Version 1 - <a href="/ppc/iteration_6/check-your-answers">Check your answers page with updated HRT
                  content</a></p>
            </li>
            <li>
              <p>Version 2 (Using warning callout) - <a href="/ppc/iteration_6/check-your-answers-2">Check your answers
                  page with updated HRT content</a></p>
            </li>
          </ul>
        </details>
    </details>



    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Sprint 2 Q3 - Further payment screen changes</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Payment screen</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">

          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">


            <li>..</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>


          <p> <a href="/ppc/iteration_5/pay-screen">Payment screen</a></p>





        </details>
    </details>




    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Sprint 2 Q3 - Payment screen changes</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Error pages</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">

            <li>Content : Payment declined</li>
            <li>Content : Payment cancelled</li>

          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">


            <li>..</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>



          <p> <a href="ppc/iteration_4/payment-cancelled">Payment cancelled</a></p>



          <p> <a href="ppc/iteration_4/payment-declined">Payment declined</a> </p>

          <p><a href="ppc/iteration_4/payment-declined-cardfault">
              Payment Declined (user card fault) </a></p>

          <p><a href="ppc/iteration_4/DD-not_authorised">DD not authorised </a></p>


          <p><a href="ppc/iteration_4/Service_not-available">
              Service not available </a></p>

          <p><a href="ppc/iteration_4/time-out/timing-out">
              Timeout pop up </a></p>

          <p><a href="ppc/iteration_4/time-out/timed-out">
              Timeout screen (during application) </a></p>


          <p><a href="ppc/iteration_4/time-out/timed-out_complete-app">
              Timeout screen (after completing the application)</a></p>


        </details>
    </details>




    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Sprint 1 Q3 - Done page changes</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>PPC Bank Payment & Full journey</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>


          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">

            <li>Content : Review the Done page</li>

          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">


            <li>..</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>...</li>
          </ul>
          <hr>
          <p>Use this card number to test a successful payment. </p>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Card details </span>
            <p>4000 0566 5566 5556</p>
          </div>
          <p class="nhsuk-u-margin-bottom-0"><a href="ppc/iteration_2/buy/start-page"><button class="nhsuk-button"
                type="submit">Buy an NHS Prescription Prepayment Certificate</button></a></p>
        </details>
    </details>





    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Sprint 7 Q2 - New Done page for failed Direct Debit via All Pay,
          content changes</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>PPC DD Payment </small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>

          <h3 class="nhsuk-heading-m">Hypothesis B</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that allowing users to still get
            their PPC when All Pay failed
            to process the payment due to system being down (after user's bank details been checked)
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> allow them to get help with their health costs and start purchasing their
            prescriptions.
          </p>
          <hr>




          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">

            <li>Content : Review the Done page</li>
            <li>New page: Done page when All Pay failed to set up a DD</li>
            <li>Further review on FP57 - refund receipt</li>
            <li>Review on whether it is needed to move DD details (on when payment will be taken) to Bank Details (Set
              up DD) screen from the current screen to avoid
              cognitive overload & to avoid long information in an conditional reveal</li>
            <li> Content : Information on renewal for users who choose to pay via DD</li>
            <li> Review on any other alternative option for users to save keep their cert.User feedback : User can't
              print because they don't have a printer and they don't have an email. </li>
            <li>Review : DD Guarantee and DD Instructions; on where and is it needed to have this in the service </li>
            <li>Following user feedback about calling in to change their DD date : Review the process (Moved to future
              iteration)</li>
            <li>Used the 'Warning card' from NHS service manual to display the DD payment Terms and condition</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Done page for different scenarios</li>
            <li>Save Certificate option - is it useful for users?</li>
            <li>Following extensive investigation about DD Guarantee & DD Instruction (this is a legal requirement) -
              decided to put DD in an expander and AB tested the DD Instruction both in an expander and display </li>
            <li>Whether or not the usage of 'Warning Card' in the CYA was appropriate</li>



          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li> Participants found the payment summary with DD Details in "Set up DD" page to very useful </li>
            <li>1 participant found that information about DD and auto renewal in 'How do you want to pay for your PPC?'
              page to be useful </li>
            <li>2 participants expressed and questioned about the 10 payments ('Would it not be better if it is made 12
              - it will bring down the cost further') - the rule behind 10 monthly payments is stipulated in the
              legislation. The team agreed to
              further investigate this</li>
            <li>2 participants welcomed the choice to print the certificate although 1 was confused with the symbol of
              save; he thought it was an email.</li>
            <li>No participant read the DD Guarantee & no participant read the DD Instruction in the explander; but
              acknowledged the displayed DD Instruction</li>
            <li>Although the CYA page was long - participants accepted it and stop to read the 'yellow box'(Warning
              Card)</li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>No error messages </li>
            <li>Some dummy data used in ' Check your answer' screen</li>
          </ul>
          <hr>
          <p class="nhsuk-u-margin-bottom-0"><a href="ppc/iteration_2/set-up-dd"><button class="nhsuk-button"
                type="submit">Set up DD</button></a></p>

          <p class="nhsuk-u-margin-bottom-0"><a href="ppc/iteration_2/DD-confirmation-Allpay-email"><button
                class="nhsuk-button" type="submit">All Pay Done (email)</button></a></p>

          <p class="nhsuk-u-margin-bottom-0"><a href="ppc/iteration_2/DD-confirmation-Allpay-print"><button
                class="nhsuk-button" type="submit">All Pay Done (print)</button></a></p>



        </details>
    </details>
    </hr>





    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">Sprint 4 Q2 - New features and content changes</span>
      </summary>
      <div class="nhsuk-details__text">
        <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"><small>Version 1</small></span>
          </summary>

          <h3 class="nhsuk-heading-m">Hypothesis A</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online with
            the NHSUK Front end Kit
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create familiarity and trust with users with the NHS branding. It is also
            up to date with the
            accessiblity point of view as well as being more recognisable and trustworthy to end users. <strong>This
              will</strong> help users to confidently use the service.
          </p>
          <hr>

          <h3 class="nhsuk-heading-m">Hypothesis B</h3>
          <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that redesigining PPC online user
            flow based on pain points & user feedback
            <strong>will be a useful feature for</strong>
            users <strong>as it will</strong> create a better user experience while purchasing a PPC. <strong>This
              will</strong> help users to quickly and easily obtain help with health costs.
          </p>
          <hr>
          <h3 class="nhsuk-heading-m">What we reviewed:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Created a back link </li>
            <li>Removed the cancel link </li>
            <li>Content in the Start page</li>
            <li>Following GDS guidance changed 'Next' label to 'Continue'</li>
            <li>Re-designed 'How long do you want your PPC to last?' screen : broke it into several screens
              (to follow GDS guidance of 1 question per page)</li>
            <li>Re-designed : When do you want your PPC to start? This screen has been split into 3 different screens to
              cater 3 different users (New user, User with expiring certificate,
              User with expired cert) - we believe by displaying information relevant to this type user might be useful
              to them to ease their user experience (This is following the implementation of the new API Exemtption
              Search)</li>
            <li>Following user research a user need been identified (link) : added information about Prescription
              payment refund</li>
            <li>Following user feedback on how many screens it takes to key in address - this has been shortened &
              simplified</li>
            <li> (MOVED TO NEXT SPRINT / ITERATION)Moved DD details (on when payment will be taken) to Bank Details
              screen from the above screen to avoid
              cognitive overload & to avoid long information in an conditional reveal</li>
            <li>(MOVED TO NEXT SPRINT / ITERATION)Information on renewal for users who chose to pay via DD</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Whether or not users finding it easy to manoeuvre the new user journey </li>
            <li>How do users fill up the new address screen</li>
            <li>How do users find information about 'What option is best for me' in 'How long do you want your PPC to
              last?' screen </li>
            <li>Do users find it useful having information about their current PPC - is it expired? when is it expiring?
            </li>
            <li> 2 different screens for 'How would you like to receive your PPC'/ 'Would you like to receive your
              certificate by email?'</li>
            <li>FP57 - the refund receipts : Do users know this? is it a helpful information to them?</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>2 participants welcomed the opening line about saving money</li>
            <li>Start page : 'How it works' section is it a right title?</li>
            <li>New address screen : no partcipant had any issue with the new journey - they all managed to go through
              it without any problem</li>
            <li> The 3 months option explanation was queried by 2 participants. Both felt it wasn’t clear how much you
              would save / what your break even point is</li>
            <li>One participant said that it is a pain to have to phone up to change the regular dates. They and another
              said that many people want to set their outgoing dates
              to suit their salary dates, so why do we make people phone up to do it? </li>
            <li>The screen - 'Would you like to receive your certificate by email?'- was welcomed by all participants
            </li>

          </ul>
          <h3 class="nhsuk-heading-m">Known issues</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>No error messages </li>
            <li>Some dummy data used in ' Check your answer' screen</li>

          </ul>
          <hr>
          <p class="nhsuk-u-margin-bottom-0"><a href="ppc/start-page"><button class="nhsuk-button" type="submit">Buy an
                NHS Prescription Prepayment Certificate</button></a></p>
        </details>
    </details>


    </hr>



    <!--   <h2>
        Documentation
      </h2>

      <ul>
        <li>
          Get started with <a href="/docs">how to guides and page templates</a>
        </li>
        <li>
          Copy and paste styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>
      </ul>

      End of content -->

  </div>
</div>
{% endblock %}