<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS HRT Prepayment Certificate
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}


  {{ header({
    "service": {
        "name": "Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}



{% block outerContent %}

{% endblock %}



<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
 
  
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
    <footer role="contentinfo">
      <div class="nhsuk-footer-container">
        <div class="nhsuk-width-container">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <div class="nhsuk-footer">
            <ul class="nhsuk-footer__list">
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a>
              </li>
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Contact us</a>
              </li>
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Cookies</a>
              </li>
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a>
              </li>
              <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
                <a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a>
              </li>
            </ul>
            <div>
              <p class="nhsuk-footer__copyright">© NHS England</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  {% endblock %}
{% endblock %}
