<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  PPC Prototype
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              Prototype
            </strong>
            <span class="app-phase-banner__text">
            This is a prototype - your <a href="#">feedback</a> will help us improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
