{% extends 'layout.html' %}

{% block pageTitle %}
Postcode Look-up - PPC
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
	<a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
		<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
			aria-hidden="true">
			<path
				d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
			</path>
		</svg>
		Go back</a>
</div>

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">

		<form class="form" action="find-address" method="post">

			<fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
				<legend class="nhsuk-fieldset_legend nhsuk-label--l">
					<h1 class="nhsuk-fieldset__heading">
						What is your postcode?
					</h1>
				</legend>
			</fieldset>

			<p>The postcode you give must match what is printed on your prescriptions.</p>

			<div class="nhsuk-form-group">
				<label class="nhsuk-label" for="input-width-10">
					Postcode
				</label>
				<input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text">
			</div>

			<p><a href="/updated-full-journey/v5/enter-address">Enter address manually</a></p>

			<!-- <form action="/updated-full-journey/v5/select-address"> -->
			<button class="nhsuk-button" type="submit">
				Find address
			</button>
		</form>

		<p><a href="/updated-full-journey/v5/start">Cancel</a></p>

	</div>
</div>
{% endblock %}