<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

{% block pageTitle %}
Select address - PPC
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back
        </a>
      </div>
      
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
    
          <!-- Change the page heading -->
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Select your address?
            </h1>
          </legend>

          <p>The address you select must match what is printed on your prescriptions.</p>
					
          
        </fieldset>
        <label class="nhsuk-label" for="select-1">
          Postcode
        </label>
        <p>NE1 0LD &nbsp; <a href="/updated-full-journey/v5/find-address">Change</a></p>
        
  
        <label class="nhsuk-label" for="select-1">
          Your address
        </label>
        <div class="nhsuk-form-group">
          
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="0">Select your address</option>
            <option value="1">1 Test Road, Town, NE1 0LD</option>
            <option value="2">3 Test Road, Town, NE1 0LD</option>
            <option value="3">5 Test Road, Town, NE1 0LD</option>
            <option value="4">7 Test Road, Town, NE1 0LD</option>
            <option value="5">9 Test Road, Town, NE1 0LD</option>
            <option value="6">11 Test Road, Town, NE1 0LD</option>
            <option value="7">13 Test Road, Town, NE1 0LD</option>
          </select>
        </div>
        
  
        <p><a href="/updated-full-journey/v5/enter-address">My address is not listed</a></p>
  
        <form action="/updated-full-journey/v5/nhs-number">
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
          </form>


        <p><a href="/updated-full-journey/v5/start">Cancel</a></p>
      
        

      
    </div> 
  </div>
{% endblock %}
