<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Cookies on the NHSBSA website - Buy an NHS Prescription Prepayment Certificate (PPC)
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate (PPC)",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Cookies on the NHSBSA website
        </h1>
      </legend>
      <br>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <h3>What are cookies?</h3>
      <p>Cookies are files saved on your phone, tablet or computer when you visit a website<br><br>
      They store information about how you use the website, such as the pages you visit.<br><br>
    Cookies are not viruses or computer programs. They are very small so do not take up much space<br></p>
      
    <h3>How we use cookies</h3>
    <p>We use cookies to:<br>
    <ul>
      <li>make our website work, for example by keeping it secure</li>
      <li>remember which pop-ups you've seen</li>
      <li>measure how you use our website, such as which links you click on (analytical cookies)</li>
      <li>help show you relevant health campaigns on social media</li>
    </ul>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          List of cookies that make our website work
        </span>
      </summary>
      <div class="nhsuk-details__text">
        Cookie list to go here.
      </div>
    </details>
  
  </p>
  
  <h3>Change your cookie settings</h3>

<p>Some cookies, like those we needed to measure how you use our website, are not needed for our website to work <br><br>
These cookies can help make our website better, but we'll only use them if you say it's OK.</p>
 
<form action="choose-cookies">

  <button class="nhsuk-button" type="submit">
    Choose which cookies we use
  </button>
</form>



<h3>How we use the information we collect</h3>
<p>To find out how we collect, store and use information about you or your visit, see the <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy">NHSBSA website privacy policy</a></p>
    <!-- End of content -->
    </div>  
  </div>
{% endblock %}
