{% extends 'layout.html' %}

{% block pageTitle %}
How long do you want your PPC to last? - Selection not made error - PPC
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    "service": {
        "name": "Buy an NHS Prescription Prepayment Certificate",
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
    <!-- Phase banner -->
    <div class="app-phase-banner">
        <div class="nhsuk-width-container app-phase-banner__container">
          <p class="app-phase-banner__content">
            <strong class="nhsuk-tag app-phase-banner__tag">
              beta
            </strong>
            <span class="app-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="https://online1.snapsurveys.com/PPC_beta_banner_feedback">feedback (opens in a new tab)</a> will help us to improve it.
            </span>
          </p>
        </div>
      </div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="duration" method="post" id="ppcForm" name="durationForm"><input type="hidden" name="_csrf" value="d996cd8c-8a90-442c-a459-965ed7e0490c">
      <!-- ERRORS display -->
      <div class="nhsuk-error-summary" id="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-heading">There is a problem</h2>
        <ul class="nhsuk-list nhsuk-error-summary__list">
          <li class="nhsuk-error-message"><a href="#twelvemonthdd">Prepayment length is required</a></li>
        </ul>
      </div>
      <!-- END Errors display -->
      <div class="nhsuk-form-group nhsuk-form-group--error">
        <fieldset class="nhsuk-fieldset" id="prepayment" aria-describedby="error-message-certduration">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-heading-l">How long do you want your prepayment certificate to last?</h1>
          </legend>
          
          <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>If you're aged 58 or 59 your prepayment certificate will not automatically renew because you're approaching age 60 - at which point you will be eligible for free prescriptions.</p>
      </div>
          
          <!-- error message -->
          <span class="nhsuk-error-message" id="error-message-certduration">Prepayment length is required</span>
          
          <div class="nhsuk-form-group">
            <h2 class="nhsuk-heading-m" id="12-months">12 months</h2>
            <div class="nhsuk-radios nhsuk-radios--conditional">
              <!-- if not defaulter found, cardPayment and DirectDebit payment methods should be allowed  -->
                <div>
                  <div class="nhsuk-radios__item dd-down">
                    <input class="nhsuk-radios__input" type="radio" value="DD" id="twelvemonthdd" name="certduration" aria-controls="show-directdebit-message" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="twelvemonthdd">Direct Debit<br>10 instalments of <strong>{{ data.PPCDirectDebitCost }}</strong> ({{ data.PPC12MonthsCost }}total)</label>
                  </div>
                  <div class="nhsuk-radios__conditional nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 nhsuk-radios__conditional--hidden" id="show-directdebit-message">
                    <p>Your first instalment will be taken on <span>23/08/2023</span>. After that you can call us to change the payment date.</p>
                    <p>See our <a href="https://faq.nhsbsa.nhs.uk/knowledgebase/article/KA-03588/en-us">Knowledge Base</a> for more information on Direct Debit renewals.</p>
                </div>
                </div>
                <div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" type="radio" value="12" id="twelvemonth" name="certduration">
                  <label class="nhsuk-label nhsuk-radios__label" for="twelvemonth">Single payment<strong><br>({{ data.PPC12MonthsCost }})</strong></label>
                </div>
                </div>
            </div>
          </div>
          <div>
            <div class="nhsuk-form-group card-down">
              <h2 id="3-months" class="nhsuk-heading-m">3 months</h2>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" type="radio" value="3" id="threemonth" name="certduration">
                <label class="nhsuk-label nhsuk-radios__label" for="threemonth">Single payment<strong><br>({{ data.PPC3MonthsCost }})</strong></label>
              </div>
            </div>
        </div>
        </fieldset>
      </div>

      
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What option is best for me?
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>It's important you carefully consider which certificate is best for you, based on your individual circumstances.</p>
    
          <p>A 3 month certificate costs £32.05 which will save you money if you need more than 3 items in 3 months.</p>
    
          <p>A 12 month certificate costs £114.50 which will save you money if you need more than 11 items in 12 months.</p>
    
          <p>Depending on how many prescription items you need and for how long you might need them, it may be cheaper if you purchase one or more 3-month prepayment certificates.</p>
        </div>
      </details>
    
      <br>

      <div class="nhsuk-form-group">
        
        <form action="">
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
          </form>


        <p><a href="/updated-full-journey/v7/start">Cancel</a></p>

      </div>
    </form>
  </div>
</div>
{% endblock %}
