{% extends 'layout.html' %}

{% block pageTitle %}
How would you like to receive  your prepayment certificate? 
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



       
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                How would you like to receive  your prepayment certificate? 
              </h1>
            </legend>
         
            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>  If you choose to receive it via email you will also receive an email reminder one month before your certificate is due to end.</p>
              </div>
          
              <form action="/ppc/email-print" method="post">

            <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="numyes" name="email_print" type="radio" value="email">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                   Email my certificate 
                   
                  </label>
                  <span class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                      Your certificate will be emailed to you straightway after you have made your payment.<br>
           
                    </span>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="numno" name="email_print" type="radio" value="print" >
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                        I will print my certificate at the end of the service
                    </label>
                   
                  </div>
                    
                  
                <br>
              

          </fieldset>
        
       <br>
      

          <button class="nhsuk-button" type="submit">
          Continue
                  </button>
             

      </form>

     

    </div>
  </div>

{% endblock %}
