{% extends 'layout.html' %}

{% block pageTitle %}
How long do you want your PPC to last?
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back</a>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        
       
            <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Can i apply for a refund
              </h1>
            </legend>
          
          
   
           <p>If you pay prescription charges while you're waiting for the details to arrive, 
             you can get a refund, as long as you get an NHS refund form (FP57) when you pay.</p>
           
              <p>If you have to pay for prescriptions while you're waiting for details about a new PPC and need to apply for a refund, ask the pharmacist for an NHS receipt (FP57) so you can claim back the cost. Your PPC must cover the date you paid the prescription charge.

                  You can claim for the refund of prescription charges up to 3 months after paying. The FP57 explains what to do.</p>
               

                    
                
                </div>


          </fieldset>
        
       <br>
      

       <button class="nhsuk-button" type="submit">
          Continue
                  </button>
             

      </form>

   
    </div>
  </div>

{% endblock %}
