{% extends 'layout.html' %}

{% block pageTitle %}
  Start page 
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Buy an NHS Prescription Prepayment Certificate
      </h1>

    


      <p>
        Use this service to save money on your NHS prescriptions.
      </p>

      <p> A prescription costs £9.15 per item, but prepaying (by credit or debit card, or by Direct Debit) for an unlimited number of prescriptions is:</p>

      <ul class="list list-bullet">
        <li>£29.65 for 3 months</li>
        <li>£105.90 for 12 months (or 10 Direct Debit instalments of £10.59)</li>
      </ul>


      <h2 class="nhsuk-heading-m">How it works</h2>

      <p>You can choose to :</p>

      <ul class="list list-bullet">
        <li>receive your certificate via email</li>
        <li>print your certificate at the end of this service</li>
      </ul>



      <p>Show your certificate details when you collect your prescription.
        You can collect prescriptions straight away, if your start date is today or earlier.</p>



    <!--   <div class="notice">
        <i class="icon icon-information">
          <span class="visually-hidden">Information</span>
        </i>
        <strong>
          <span class="bold">We do not send out plastic cards any more because they take time to reach you.</span>
          They are also costly to the NHS and the environment
        </strong>
      </div>
<br>




      
  <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
 <p> <strong>We do not send out plastic cards any more because they take time to reach you.</strong> 
    They are also costly to the NHS and the environment</p>
   

</div>-->

      

      <a href="dob" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Buy now
      </a>
      <h3 class="heading-small">Other ways to buy</h3>
      <p>The quickest way to buy a certificate is online. If you can't, there are <a href="#">other ways to buy</a>
        one</p>
    </div>

  </div>
{% endblock %}
